.selectasync-placeholder {
    width: 100%;
    min-height: 5rem;
    line-height: 2;
    border: 2px solid #dedede;
    background: #fff;
    padding: 2px;
    margin-bottom: 0.2rem;
}
.selectasync-search-label {
    display: inline-block;
    padding-right: 1rem;
}
.loadingspinner {
    padding-right: 2rem;
}
.selectasync-select {
    /* preload spinner */
    background-image: url('img/loading.gif');
    background-position: -200px 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
.selectasync-select input.form-control {
    width: 20rem;
}
.selectasync-select input.ui-autocomplete-input {
    background-image: url('img/keyboard.png');
    background-position: 17.5rem 0.5rem;
    background-repeat: no-repeat;
    width: 20rem;
}
.selectasync-select input.ui-autocomplete-loading {
    background-image: url('img/loading.gif');
    background-position: 17.5rem 0.5rem;
    background-repeat: no-repeat;
}
