/*
* BUTTONS
**/

a.button, .button, button {
    text-decoration: none;
    display: inline-block; // to adjust width to text
    border-radius: 5px;
    background-color: $baseFirstThemeColour;
    color: $white;
    border: 0;
    padding: .3rem 4rem;
    text-align: center;

    &:hover, &:active, &:focus {
        background-color: darken($baseFirstThemeColour,25%);
    }
}

.button-link {
    border: 3px solid $dark-blue;
    display: block;
    margin: .75rem auto 0 auto;
    width: 115px; // centering needs fixed width. Can be adjusted.
    text-align: center;
    font-size: 0.75rem;
    padding: .3em 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -.3px;
    color: $dark-blue;


    @include respond-to(medium-screens){
        margin: .75rem auto 0 auto;
        width: auto;
        display: inline-block;
        font-size: 0.875rem;

    }

    &:hover, &:active, &:focus {
        background-color: $dark-blue;
        color: $white;
        text-decoration: none;
        font-weight: 400;
    }


    .calltoaction &,
    .calltoaction-readmore & {
        color: $white;
        border: 2px solid $white;
        font-weight: 400;
        letter-spacing: 0;
        font-size: 0.75rem;

        &:hover, &:active, &:focus {
            background-color: $white;
            color: $baseFirstThemeColour;
            font-weight: 700;
        }
    }

}

button.floating,
.button.floating {
    background-color: $white;
    padding: 0.7rem 0.9rem;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

    svg {
        margin-right: 0;
        fill: $medium-gray;
        width: 1.6rem;
        height: 1.6rem;
    }

    &:hover, &:active, &:focus {
        background-color: $medium-gray;

        svg {
            fill: $white;
        }
    }

}

button.image-info {
    background-color: rgba($black, 0.85);
    width: 40px;
    height: 40px;
    padding: 9px;

    span {
        border-radius: 50%;
        display: block;
        background-color: $white;
        width: 21px;
        height: 21px;
        color: $black;
        font-weight: 700;
        line-height: 1.4;
        }
}



