/*
* BUTTONS
**/

a.button, .button, button {
    text-decoration: none;
    display: inline-block; // to adjust width to text
    border-radius: 4px;
    background-color: $innovationblue;
    color: $white;
    border: 0;
    padding: .75rem 1.5rem;
    text-align: center;

    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.875rem;

    &:hover, &:active, &:focus {
        background-color: $innovationblue-dark;
    }
}

// one class to reset a button if needed
button.simple,
.button.simple {
    border-radius: none;
    background: none;
    padding: 0 5px;
    color: $black;
}

.button-link {
    border: 3px solid $dark-blue;
    display: block;
    margin: .75rem auto 0 auto;
    width: 115px; // centering needs fixed width. Can be adjusted.
    text-align: center;
    font-size: 0.75rem;
    padding: .3em 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -.3px;
    color: $dark-blue;


    @include respond-to(medium-screens){
        margin: .75rem auto 0 auto;
        width: auto;
        display: inline-block;
        font-size: 0.875rem;

    }

    &:hover, &:active, &:focus {
        background-color: $dark-blue;
        color: $white;
        text-decoration: none;
        font-weight: 400;
    }


    .calltoaction & {
        color: $white;
        border: 2px solid $white;
        font-weight: 400;
        letter-spacing: 0;
        font-size: 0.75rem;

        &:hover, &:active, &:focus {
            background-color: $white;
            color: $baseFirstThemeColour;
            font-weight: 700;
        }
    }

    .calltoaction-readmore & {
    }

}

button.floating,
.button.floating {
    background-color: $white;
    padding: 0.7rem 0.9rem;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

    svg {
        margin-right: 0;
        fill: $medium-gray;
        width: 1.6rem;
        height: 1.6rem;
    }

    &:hover, &:active, &:focus {
        background-color: $medium-gray;

        svg {
            fill: $white;
        }
    }

}

button.image-info {
    background-color: $white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid $black;
    padding: 0;

    svg {
        width: 4px;
        height: 15px;
        fill: $black;
        vertical-align: -1px;
    }

}

button.outline,
.button.outline {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;

    svg {
        width: .9em;
        height: .9em;
        margin-left: .5em;
        vertical-align: baseline;
    }

    &:hover {
        background-color: $baseFirstThemeColour;
        color: $white;
        border-color: $baseFirstThemeColour;

        svg {
            fill: $white;
        }
    }
}

select.button {  // yes! that happens on the members _listingtable.twig :)
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/icons/caret_down.svg');
    background-size: 1em 1em;
    background-position: top 52% right 1em;
    background-repeat: no-repeat;
    padding-right: 2.5em;
}

a.roundsocial {
    border-radius: 50%;
    display: inline-block;
    height: 2.25rem;
    width: 2.25rem;
    background: rgba($white,0.1);
    margin-right: .5rem;
    padding: 3px 0 0 1px;

    svg {
        margin-right: 0;
        width: 1.2rem;
        height: 1.2rem;
    }
}


