/**
 * File:        _forms.scss
 * Description: _forms.scss contains all form styles for makeitso
 */


//input all

[type="text"],
[type="email"],
[type="number"],
[type="tel"],
input[type="search"], //for specifics reason with normalize
[type="time"],
[type="url"],
[type="color"],
textarea {
    border: 1px solid $line-gray;
    border-radius: 5px;
    -webkit-appearance: none; // for iOS
    padding: .8rem 0.5rem;
    font-size: 1rem;
    margin: 0 0 1rem;
    display: block;


    .calltoactionform & {
        //display: table-cell;
        display: inline-block;
        border-radius: 0;
        margin-bottom: 0;
        padding: .2rem 0.5rem; //larger padding cuts off text, interfering with height
        height: 2.20rem;
        border: none;

    }
}

form.searchform {

    margin: 1rem 0;
    text-align: right;
    width: 100%;

    @include respond-to (menu-full) {
        display: block;
        position: absolute;
        top: 1rem;
        right: 0.875rem;
        width: 380px;

    }

    input[type="search"] {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3% 0 0;
        box-sizing: border-box;
        width: 82%;

        @include respond-to (medium-screens) {
            margin: 0 2% 0 0;
            width: 90%;
        }

        @include respond-to (menu-full) {
            width: 300px;
        }
    }

    button {
        width: 15%;
        //max-width: 55px;
        display: inline-block;
        margin: 0;
        vertical-align: middle;


        @include respond-to (medium-screens) {
            width: 8%;
        }

        @include respond-to (menu-full) {
            width: 52px;
        }

    }

}

form {

    button, .button {
        background-color: $dark-blue;
        border-radius: 5px;
        color: $white;
        border: 0;
        padding: 0.7em 0.8em;
    }

}

