.cookie-notice {
  bottom: 0 !important;
  top: auto !important;
}

.cn-ok {
  align-items: center !important;

}

.cm-btn-success {
  background-color: #219D31 !important;
}

.cn-decline {
  background-color: $line-gray !important;
}

a.cm-link.cn-learn-more
{
  color: $collections-blue !important;
  font-weight: bold;
  flex-grow: unset !important;
  border: solid 1px var(--dark2, #5c5c5c) ;
  border-radius: var(--border-radius, 4px);
  margin-right: .5em;
  padding: 0.4em;
  font-size: 1em;
  cursor: pointer;

}

button.cm-btn.cm-btn-success.cm-btn-info.cm-btn-accept {
  background-color: $innovationblue-light !important;
  color: #085395;
}

#cookie-button {
  webkit-transform: translateY(2em);
  transform: translateY(2em);
  bottom: 0;
  left: 3em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
  background-color: $collections-blue !important;
  cursor: pointer;
}

#cookie-button:hover {
  webkit-transform: translateY(0em);
  transform: translateY(0em);
}

div.cn-buttons {
  margin-top: 0 !important;
}
