/**
 * File:        _layout.scss
 * Description: _layout.scss contains all styles for page structure setup for makeitso
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

/**
 * About the Responsive Web Design breakpoints in this setup:
 * from base.scss, use small-screens, medium-screens, large-screens, xlarge-screens, wide-screens
 * Use them with "respond-to" mixin from base.scss as "@include respond-to(small-screens) {}"
 *
 * page setup: body direct descendants are the main wrappers containing direct
 * descendant with .inner-wrap class set to center the content on the page. Used in favor
 * of a general top level wrap all wrapper for esthetics sake.
 *
 * The design pattern here is that some parts (e.g. header/footer) of the website need a full-width
 * background color, but the contents needs to be centered on the page
 *
 * ! If no full width background-colors are in the design you can remove the inner-wrap div's and
 * set the $site-max-width on the body with margin:0 auto;
 *
 */

html {
    height:100%;
}

body > div {
    min-height:100%;
    margin:0;
    position:relative;
    padding:0;
    //background-color: $off-white;

    > header, footer, main, [role="main"] {
        width:100%;
        display:block;
        overflow:hidden;

        z-index: 2;
        position: relative;
    }
    > header {
        padding: 0 0.875rem;
            @include respond-to(menu-full){
                height: 95px;
            }
    }
    > main,[role="main"] {
        position: relative;
    }
    > footer {
    }
}

.topbar {
    // background: #f09;
    position: relative;
}

.canvas {
    background-color: $white;

    @include respond-to(menu-full){
        margin-left: 235px;
    }
}

section {

    > .inner-wrap {
        padding: 0rem 0rem 0rem; // n
        // padding: 4rem 0rem 0rem;

        @include respond-to(large-screens){
            padding: 0 2rem;
        }
    }

    &.teaser-list-section {
        margin-top: 4rem;
    }

    &.image-gallery-section {
        margin: 4rem 0
    }

}

section.contentheader {
    position: relative;
    margin: 1rem 0;

    @include respond-to(large-screens){
        margin: 0;
    }

    > .inner-wrap {
        padding: 0 1rem;
    }
}

header {
    //background: #f60;
}

article {
    //background: #40e; //blue
}

.column {
    //background: #fc8;
}

main {
    // background: #9f6;
}

aside {
    padding: 0 0.875rem;
    margin-top: 2rem;

    @include respond-to(medium-screens){
        padding: 0 2rem;
        margin-top: 2rem;
    }

    @include respond-to(large-screens){
        margin-top: 4rem;
    }

    > .inner-wrap {
        padding: 0rem 0rem 0;

        @include respond-to(large-screens){
            padding: 0rem 0 0;
        }
    }
}


footer {
    background: $dark-blue;//$denim;
    border-top: 6px solid $dark-blue;
    padding-top: 2rem;
    margin-top: 3rem; // voor contentpages zo gedaan. snelle fix, vast mooi

    @include respond-to(large-screens){
        padding-top: 4.75rem;
        margin-top: 8rem; // voor contentpages zo gedaan. snelle fix, vast mooi
    }

    body.landingpage & {
        margin-top: 2rem;
    }
}

.inner-wrap {
    @extend %group;
    margin: 0 auto;
    padding: 0 1rem; //temp, taken from sketch files. May need tweaking.
    max-width: $site-max-width;
    position:relative;
    //prevent margin-collapse
    overflow:auto;

    @include respond-to(medium-screens){
        padding: 0 1.5rem; // 15px ipv 10 0 0.625rem;
    }

}

.skipcontent {
    background-color: #fff;
    left: -9999px;
    padding: 0.3125rem 1rem;
    position: absolute;
    padding:0.5rem 0.75rem;
    display:inline-block;
    z-index:2;
    text-decoration:underline;
    &:focus {
        left:1.25rem;
    }
}



.column {
    min-height: 2rem;
    width:100%;
    margin-bottom: 2rem;
    padding: 0 0.875rem;

    @include respond-to(medium-screens) {
        padding: 0 0.875rem;

    }

}

.contentpage {
    .main-column {
        padding: 0 0.875rem;
        position: relative;

        @include respond-to(medium-screens) {
            padding: 0 2rem;
        }

        @include respond-to(large-screens) {
            margin-top: 8.125rem;
        }
    }

    figure,
    .card {
        margin: 1rem 0rem; //1rem 2rem;
        position: relative;

        @include respond-to(medium-screens) {
             margin: 2rem 2rem 2rem;
        }

        @include respond-to(large-screens) {
             margin: 2rem 4rem 4rem;
        }

        &.non-wide { // case when more then 1 author, image cannot be outside column.
             @include respond-to(xlarge-screens) {
                padding: 0 4rem;
            }
        }
    }

    .half figure {
        margin: 1rem 0rem; //1rem 2rem;
        position: relative;
        // uitvullen op halve kolom
    }

    .header-group,
    .body,
    .file-content-module,
    .download-module,
    .primary-call-to-action

    {
        padding: 0 ;

        @include respond-to(large-screens) {
            padding: 0 4rem;
        }
        @include respond-to(xlarge-screens) {
            padding: 0 8rem;
        }
    }

    blockquote {
        margin: 1rem 0 ;

        @include respond-to(large-screens) {
            margin: 2rem 4rem;
        }
        @include respond-to(xlarge-screens) {
            margin: 2rem 8rem;
        }
    }

    .body blockquote {
        margin-left: 0;
    }

    .info-list-section + .info-list-section {
        margin-top: 2rem;

        @include respond-to(large-screens) {
            margin-top: 4rem;
        }
    }

    .info-list
    {
        padding: 0 ;

        @include respond-to(large-screens) {
            padding: 0 2 rem; // 0 4rem;
        }
        @include respond-to(xlarge-screens) {
            padding: 0 4rem; // 0 8rem;
        }
    }


}

.body > *,
.collapsed-body > * {
    margin: 2rem 0;
}


// listingpage

ul.search-results,
ul.teaser-list {
    margin: 2rem 0rem;

    @include respond-to(medium-screens) {
         margin: 4rem 2rem;
    }

    @include respond-to(large-screens) {
         margin: 4rem 4rem;
    }
}


.group.content-right {
    padding: 1rem 0;

    & > * {
        float: right;
    }
}


.group.content-left {
    padding: 1rem 0;

    & > * {
        float: left;
    }
}

// column classes. Half is 50%, Third 33%, TwoThirds 66%..... such wows...
// very column. such grid

.fourth {
    width: 50%;
    float: left;

    @include respond-to(large-screens) {
        width: 25%;
    }
}

.third {
    width:100%;
    @include respond-to(large-screens) {
        float:left;
        // margin:0 1% 1.75rem;
        width:33.333%;
        // &:first-child {
        //     margin-left:0;
        // }
        // &:last-child, & + .third + .third {
        //     margin-right:0;
        // }
    }
    // .two-third + & {
    //     @include respond-to(large-screens) {
    //         margin-right:0;
    //     }
    // }
}

.two-third {
    width:100%;
    @include respond-to(large-screens) {
        float:left;
        // margin:0 1% 1.75rem 0;
        width:66.6666%;
        // padding-right:1.5rem;
        // &:first-child {
        //     margin-left:0;
        // }
        // &:last-child, & + .third + .third {
        //     margin-right:0;
        // }
    }
    .third + & {
        @include respond-to(large-screens) {
            // margin:0 0 1.75rem 1%;
        }
    }
}

.half {
    @include respond-to(large-screens) {
        float:left;
        // margin:0 1% 1.75rem 0;
        width:50%;
        // & + .half {
        //     margin: 0 0 1.75rem 1%;
        // }
    }
}


// FLEXBOX CLASSES in MODULES
//
// For related items:

.teaser-container {  // Flexbox to make the items same height. because background.
    display: flex;
    flex-direction: column;
    // padding: 0 0.875rem;

    @include respond-to(large-screens){
        flex-direction: row;
        flex-align: stretch;
        padding: 0;
    }

    .teaser-threecol {
        padding: 0 0 0 0;

        @include respond-to(large-screens){
            margin-right: 1.75rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.items-container {
    display: flex;
    flex-wrap: wrap;

    > .column {
        float: none;
    }

}




.footer-block {
    background-color: transparent!important;

    float: left;
    margin-left: 1%;

    &:first-child {
        margin-left: 0;
    }

    &.footer-block-address {

        @include respond-to(large-screens) {
            width: 39%;
        }

        @include respond-to(xlarge-screens) {
            width: 24%;
        }
    }

    &.footer-block-mission {

        @include respond-to(large-screens) {
            width: 59%;
        }

        @include respond-to(xlarge-screens) {
            width: 40%
        }
    }

    &.footer-block-socials {
        width: 100%;

        @include respond-to(large-screens) {
            width: 59%;
        }

        @include respond-to(xlarge-screens) {
            width: 32.333%
        }
    }

}

.sub-footer {
    padding: 2rem 0 0 0;
    margin: 3.5rem 0 0 0;

    @include respond-to(large-screens) {
        margin: 9.5rem 0 0 0;
    }
}



