/**
 * File:        _navigation.scss
 * Description: _navigation.scss for website navigation, mobile-menu and search togglers and breadcrumb
 * Author:      Anke@twokings.nl
 */


/*
* CONTENTHEADER
**/

nav.quicklinks {

    ul {
        background-color: $quicklinks-bar;
        text-align: center;

        @include respond-to (medium-screens) {
            text-align: left;
        }
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: $white;
        padding: 1rem 0.5rem;
        font-size: 0.875rem;

        @include respond-to (medium-screens) {
            font-size: 0.875rem;
            padding: 1rem;
        }
    }
}


/*
* MAIN MENU
**/


nav.main-menu {
    position: absolute;
    width: 235px;
    top: 95px; //magic number: height from topbar
    left:0;
    display: none;

    @include respond-to(menu-full) {
        display: block; //check, medium or large?
    }

    ul {
        padding: 0 1.125rem 0 0.6875rem
    }

    li {
        border-bottom: 1px solid $line-gray;
        padding: 0.8125rem 0;
    }

    a {
        text-decoration: none;
        color: $black;
    }
}

nav.footer-menu {
    ul {

    }

    li {
        display: inline-block;
    }

    a {
        color: $black;
        text-decoration: none;
        border-bottom: 1px dotted $dark-blue;
        margin-right: .8em;

        &:hover, &:focus, &:active {
            color: $link-blue;
        }
    }
}

.pagination {
    overflow: hidden;
    margin: 4rem 0;
    text-align: center;
    padding-left: 0;

    li {
        display: inline-block;
        border-right: 1px solid $line-gray;
        font-size: 1rem;
    }

    a {
        padding: 0.5rem 1rem;
        display: block;
        font-weight: 700;
        color: $medium-gray;


        &:hover, &:active, &:focus {
            background-color: $off-white;
            text-decoration: none;
        }
    }

    .current a {
        color: $white;
        background: $medium-gray;
    }

    .disabled a {
       &:hover, &:active, &:focus {
        background-color: inherit;
       }
    }
}
