/**
 * File:        _navigation.scss
 * Description: _navigation.scss for website navigation, mobile-menu and search togglers and breadcrumb
 * Author:      Anke@twokings.nl
 */


/*
* CONTENTHEADER
**/


.topbar {
    // min-height: 53px;
    z-index: 10; //for sticky
    // height: 53px; // to prevent filtering from pushing bar down. remove if it causes other problems!
    height: auto;

    // @include respond-to (medium-screens) {
        height: auto;
    // }

}

nav.quicklinks { // regular page quicklinks
    margin: 0 1.5rem;
    border-bottom: 1px solid $line-gray;
    display: none; // js sets it to show() when links are present

    ul {
        // background-color: $quicklinks-bar;
        text-align: center;
        padding: 10px 0;

        @include respond-to (medium-screens) {
            text-align: left;
        }
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: $light-gray;
        padding: 6px 0.5rem;
        font-size: 0.875rem;
        line-height: 21px; // magic number: to align bar with menu on left

        @include respond-to (medium-screens) {
            padding: 6px 1rem;
            font-size: 1rem;
        }
    }

    body.splashpage & {  //splashpage quicklinks (in white header bar)

        ul {
            text-align: center;
            @include respond-to (large-screens) {
                text-align: left;
            }
        }

        a {
            color: $black;
            font-weight: 700;

            @include respond-to (medium-screens) {
            font-size: 1rem;
            }
        }
    }
}


a.back-link {
    color: $white;
    line-height: 21px;

    .current-filters & {
         color: $white;
         border-right: 1px solid $white;
         padding: 6px 1rem 6px 0rem;
    }

    nav.quicklinks & {

    }
}


/*
* MAIN MENU
**/

.menu-container{
    hr {
        background: $line-gray;
        margin: 1.5rem 30px;
        border: 0;
        height: 1px;
    }
}

nav.main-menu {
    position: absolute;
    width: 235px;
    top: 124px; //magic number: height from topbar
    left:-235px;
    //display: none; always on, because on mobile it's waiting to slide in.
    z-index: 15; //check if correct. Needed on mobile for hover over sticky bar.
    background-color: $menu-grey;
    box-shadow: none;


    @include respond-to(menu-full) {
        display: block; //check, medium or large?
        top: 75px; //magic number: height from topbar
        left: 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        height: calc(100% - 75px);
    }

    body.homepage & {
        // no menu on homepage
        @include respond-to(menu-full) {
            display: none;
        }
    }

    ul {
        padding: 0;
    }

    a {
        text-decoration: none;
    }


    // CLASS OVERLAY NA TOGGLE
    &.is-overlay {
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        //does not do anything here, but give the JS a detection that it's in overlay
    }

}

// new menu (2019) styles

nav.toplayer {
    display: none;
    @include respond-to(menu-full){
        display: block;
    }
}

.toplayer-menu { // in topbar
    height: 100%;
    display: flex;
    flex-direction: row; // setting default for completeness
    align-items: stretch;
    padding: 0 1rem;

    li {
        vertical-align: middle;
    }

    li.active {
        a {
            font-weight: 700;
            &:after {
                background: $innovationblue;
            }
        }
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: 100%;

        color: $medium-gray;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        text-shadow: 7px 2px 0 0 $white;
        padding: 0 .8em 0 .8em;
        line-height: 1.2;
        // text-align: center;

        span {
            text-align: center;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &:after {
            content: "";
            display: block;
            margin-top: auto;
            height: 3px;
            width: 100%;
            background: transparent;
            flex-grow: 0;
        }

        &:first-child {
            // margin-left: 1rem;
        }

        &:hover {
            background: rgba($innovationblue, 0.1);
            text-decoration: none;
        }

    }
}

.primary-menu {
    li + li  {
        margin-top: 6px;
    }
    li.level-0 {
        // margin: 1.5rem 0;
        // padding: 1.5rem 0;

        & > a { //top levels
            color: $medium-gray;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            text-shadow: 7px 2px 0 0 $white;
            line-height: 1.2;
            padding: 1.2rem 0 1.2rem 1.875rem;

            @include respond-to(menu-full){
                display: none;
            }
        }

        &.active {
            // margin: 1.5rem 0;
        }

        &.active > a {
            font-weight: 700;
            border-bottom: 3px solid $innovationblue;
            padding-bottom: .5em;
        }

        ul {
            margin-top: .7rem;
        }

    }

    li.level-1.active {
        // active level 1 items
        a {
            background: $innovationblue;
            color: $white;
            font-weight: 400;
        }
    }

    a {
        color: $light-gray;
        font-size: 1.125rem;
        padding: 0.1em 0 0.1em 1.875rem;
        margin-right: 1.125rem;
        display: block;
        transition: background-color .25s ease-in .1s;

        @include respond-to(menu-full){
            border-radius: 0 18px 18px 0;
        }

        &:hover, &:focus, &:active {
            background: rgba($innovationblue, 0.1);
        }

    }

    .sub-menu a {
        border-radius: 0 18px 18px 0;
    }
}



// styling secondary menu

nav ul.secondary-menu {
    font-size: 0.8125rem;

    li + li{
        margin-top: 4px;
    }

    a {
        display: block;
        color: $black;
        padding: .1em 0 .1em 1.875rem;

        &:hover, &:active, &:focus {
            color: $link-blue;
        }
    }
}


/*
***********************************************************************
* Footer menu
***********************************************************************
**/


nav.footer-menu {
    ul {

    }

    li {
        display: inline-block;
    }

    a {
        color: $line-gray;
        text-decoration: none;
        border-bottom: 1px dotted $line-gray;
        margin-right: .8em;

        &:hover, &:focus, &:active {
            color: $white;
        }
    }
}

.pagination {
    overflow: hidden;
    text-align: center;
    padding-left: 0;
    margin: 4rem 0;

    section.module & {
        margin: 1rem 0 2rem;
    }

    li {
        display: inline-block;
        border-right: 1px solid $line-gray;
        font-size: 1rem;
    }

    a {
        padding: 0.5rem 1rem;
        display: block;
        font-weight: 700;
        color: $medium-gray;


        &:hover, &:active, &:focus {
            background-color: $off-white;
            text-decoration: none;
        }
    }

    .current a,
    .active a {
        color: $white;
        background: $medium-gray;
    }

    .disabled a {
       &:hover, &:active, &:focus {
        background-color: inherit;
       }
    }
}


/*
***********************************************************************
* LIST FILTERING
***********************************************************************
**/



.filter-listing {

    position: relative;
    font-size: 0.875rem;
    margin-left: 0;

    @include respond-to(large-screens){
        margin-left: 1rem;
        font-size: 0.875rem;
    }

    .current-filters {
        padding: 10px 0;

        .toggle-filter, .this-filter {
            display: inline-block;
            color: $white;
            padding: 6px 1rem;
            font-size: .75rem;

            @include respond-to(large-screens){
                font-size: 0.9375rem;
            }


            &:first-child {
                border-right: 1px solid $white;
            }
        }

        .this-filter {
            // text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
            // width: 100px;
        }

        .this-taxonomy {
            display: none;

            @include respond-to(medium-screens){
                display: inline;
            }
        }

        .arrow-down {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $white;
            vertical-align: 2px;
            margin: 0 0 0 5px;

        }

        svg {
            fill: $white;
            height: 1rem;
            vertical-align: -3px;
        }

        a.reset-filter {
            margin-left: -10px;
        }

    }

    .filter-container {
        position: relative;
        margin: 0 1rem 1rem ;
        background: $white;
        box-shadow: 1px 1px 5px rgba($black, 0.5);
        overflow: visible;
        display: none;

        &.expanded {
            display: inline-flex;
        }

        @include respond-to(large-screens){
            margin: -7px 2.7rem 1rem ;
            align-items: stretch;
        }

        > ul,
        >.filters-chapter  {
            padding: 1rem;
        }
    }

    .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;

        position: absolute;
        top: -10px;
        left: 3.5rem;

        @include respond-to(large-screens){
            left: 2rem;
        }
    }

    .filter-chaptertitles {
        min-width: 288px;

        @include respond-to(large-screens){
            //float: left;

            width: 180px;
            // width: auto;
            min-width: 0;

            flex: 0 0 auto;

        }

        li {
            width: 100%;
        }

        svg {
            fill: $line-gray;
            font-size: .75em;
            float: right;
            margin: .6em 0 0 0;
        }
    }

    .filters-chapter {
        display: none;
        padding: 0 1rem;
        max-width: 800px; // looks good
        border-left: 1px solid $line-gray;
        margin: 1rem 0;

        @include respond-to(large-screens){
            border-left: 1px solid $line-gray;
            margin: 0 0;
            //margin: 0 0 0 175px;
        }

        &.current {
            display: block;
        }

        h3 {
            display: none;

            @include respond-to(large-screens) {
                display: block;
            }
        }
    }


    ul.filterlist {


        li {
            @include respond-to(large-screens){
                width: 30%;
                display: inline-block;
                vertical-align: top;
            }
        }

        li.current a {
            color: $medium-gray;
            font-weight: 700;
        }
    }

    h3 {
        color: $baseFirstThemeColour;
        font-weight: 400;
        font-size: 1.25rem;
    }

    li {
        margin-bottom: .5rem;
    }

    li.current > a {
        color: $baseFirstThemeColour;
        font-weight: 700;

        svg {
            display:none;

            @include respond-to(large-screens){
                display: inline-block;
                fill: $medium-gray;
            }
        }

    }

    a {
      color: $medium-gray;
    }

}

// Cookiebar.
// Topmessage is general styles, cookiebar is specific for a specific message on top of the site

.topmessage {
    padding: 25px;
    position: relative;

    p {
        font-size: .875rem;
    }
    a {
        border-bottom: 1px dashed currentcolor;

        &:hover, &:focus, &:active {
            border-bottom: 1px solid currentcolor;
            text-decoration: none;
        }
    }

    .inner {
        width: 100%;
        margin: 0 auto;
        // background: #f70;

        @include respond-to(large-screens){
            width: 85%;
        }

        @include respond-to(wide-screens){
            width: 75%;
        }
    }

    button.close {
        position: absolute;
        top: 0;
        right: 6px; //optical

        svg {
            width: 12px;
            height: 12px;
        }
    }
}

.cookiebar{
    background: $footer-gray;
    display:none;

    p {
        color: $medium-gray;
        margin: 0;
        // background: #f09;

        @include respond-to(large-screens) {
            width: 85%;
            float: left;
        }

        @include respond-to(wide-screens) {
            width: 90%;
        }

    }

    a {
        color: $medium-gray;
        &:hover, &:focus, &:active {
            color: $dark-blue;
        }
    }

    svg {
        fill: $medium-gray;
    }

    button.ok {
        background: none;
        border: 1px solid $medium-gray;
        color: $medium-gray;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;

        @include respond-to(large-screens) {
            float: right;
            margin: 0 25px 0 0;
        }

        @include respond-to(wide-screens) {
            float: left;
            margin: 0 25px;
        }

        &:hover, &:focus, &:active {
            background: $dark-blue;
            color: $white;
        }
    }
}
