/**
 * File:        _navigation.scss
 * Description: _navigation.scss for website navigation, mobile-menu and search togglers and breadcrumb
 * Author:      Anke@twokings.nl
 */


/*
* CONTENTHEADER
**/

.topbar {
    background-color: $quicklinks-bar;
    min-height: 53px;
    z-index: 10; //for sticky
    height: 53px; // to prevent filtering from pushing bar down. remove if it causes other problems!

    @include respond-to (medium-screens) {
        height: 53px;
    }

}

nav.quicklinks {

    ul {
        // background-color: $quicklinks-bar;
        text-align: center;
        padding: 10px 0;

        @include respond-to (medium-screens) {
            text-align: left;
        }
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: $white;
        padding: 6px 0.5rem;
        font-size: 0.75rem;
        line-height: 21px; // magic number: to align bar with menu on left

        @include respond-to (medium-screens) {
            font-size: 0.875rem;
            padding: 6px 1rem;
        }
    }
}




/*
* MAIN MENU
**/

// Other styling in partials/_menu.twig, because temporary


nav.main-menu {
    position: absolute;
    width: 235px;
    top: 124px; //magic number: height from topbar
    left:-235px;
    //display: none; always on, because on mobile it's waiting to slide in.
    z-index: 15; //check if correct. Needed on mobile for hover over sticky bar.
    background-color: $off-white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);

    @include respond-to(menu-full) {
        display: block; //check, medium or large?
        top: 95px; //magic number: height from topbar
        left: 0;
        box-shadow: none;
    }

    ul {
        padding: 0;
        //padding: 0 1.125rem 0 0.6875rem;
        background: $white;
    }

    li {
        border-bottom: 1px solid $line-gray;
        padding: 0.8125rem 0;
    }

    .play-menu {
        border-right: 1px solid $off-white;
    }

    a {
        text-decoration: none;
        color: $black;
    }


    // CLASS OVERLAY NA TOGGLE
    &.is-overlay {
       //does not do anything here, but give the JS a detection that it's in overlay
    }


    li.is-parent {
        position: relative;
    }

    .sub-menu .sub-menu  {
    // targets secondary level

        @include respond-to(menu-full) {
            position: absolute;
            left: 210px; //width of li parent
            top: -6px; //magic number: to align with top of li
            width: 200px;
            padding: 1rem;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            border: 1px solid $line-gray;
        }

    }
}


 #playmenu {
        top: 0;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    #playmenu li.active.toplevel:not(.home) {
        min-height: 26em;
        margin-left: 0;
    }
    #playmenu li.last {
        border-bottom: 0;
    }
    #playmenu li.active.toplevel > a {
        min-height: 35px;
    }
    ul.play-menu > li:not(.home) {
        margin-left: 0px;
        padding-left: 35px;
    }
    ul.play-menu > li > .sub-menu {
        min-height: 23em;
    }
    ul.play-menu .sub-menu .sub-menu {
        display: none;
    }
    ul.play-menu .sub-menu li.active .sub-menu,
    ul.play-menu .sub-menu li:hover .sub-menu {
        display: block;
    }
    /* main menu item colours */
    #playmenu .home,
    ul.play-menu li.active.toplevel {
        padding-left: 0;
        background: #c4c4ba;
    }
    #playmenu .home a,
    ul.play-menu li.active.toplevel > a {
        color: #444;
        text-align: center;
        font-weight: normal;
        display: block;
    }

    /* menu structure */
    ul.play-menu a           { display: block; }
    ul.play-menu li          { padding-left: 25px; }
    ul.play-menu li > .sub-menu {
        margin: 5px 0 -12px 0;
        padding-left: 25px;
        border-left: none;
    }
    ul.play-menu li > .sub-menu .sub-menu {
        margin-left: 0;
    }
    ul.play-menu .sub-menu li {
        padding-left: 10px;
        border-left: none;
    }
    ul.play-menu .sub-menu .sub-menu {
        // padding-bottom: 10px;
    }
    ul.play-menu .sub-menu .sub-menu li {
        padding: 2px 0;
        border-bottom: none;
    }
    ul.play-menu li.level-2 a {
        font-size: 90%;
    }
    /* mouseover thingies */
    ul.play-menu a:hover {
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    .active > a {
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    /* hackish way to add a marker
    .active:not(.toplevel):not(.home) > a:after {
        content: " ▶";
    }
    */

    /* the mouseover menu styles */
    nav #backlinks {
        background: #bcbabc;
    }
    nav #backlinks:hover {
        background: #fff;
    }
    #backlinks {
        top: 3.25em;
        position: absolute;
        width: 25px;
        overflow: hidden;
        z-index: 10;
        height: 22.75em;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;
    }
    #backlinks:before {
        content: "❰";
        font-weight: bold;
        color: #fff;
        top: 10em;
        padding: 5px;
        position: absolute;
    }
    #backlinks:hover {
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;
        width: 100%;
    }
    #backlinks li {
        border-left: none;
        margin-left: 25px;
        padding-left: 10px;
    }
    #backlinks li.active {
        display: none;
    }


/*
***********************************************************************
* FOoter menu
***********************************************************************
**/


nav.footer-menu {
    ul {

    }

    li {
        display: inline-block;
    }

    a {
        color: $black;
        text-decoration: none;
        border-bottom: 1px dotted $dark-blue;
        margin-right: .8em;

        &:hover, &:focus, &:active {
            color: $link-blue;
        }
    }
}

.pagination {
    overflow: hidden;
    text-align: center;
    padding-left: 0;
    margin: 4rem 0;

    section.module & {
        margin: 1rem 0 2rem;
    }

    li {
        display: inline-block;
        border-right: 1px solid $line-gray;
        font-size: 1rem;
    }

    a {
        padding: 0.5rem 1rem;
        display: block;
        font-weight: 700;
        color: $medium-gray;


        &:hover, &:active, &:focus {
            background-color: $off-white;
            text-decoration: none;
        }
    }

    .current a,
    .active a {
        color: $white;
        background: $medium-gray;
    }

    .disabled a {
       &:hover, &:active, &:focus {
        background-color: inherit;
       }
    }
}


/*
***********************************************************************
* LIST FILTERING
***********************************************************************
**/



.filter-listing {

    position: relative;
    font-size: 0.875rem;
    margin-left: 0;

    @include respond-to(large-screens){
        margin-left: 2rem;
        font-size: 0.9375rem;
    }

    .current-filters {
        padding: 10px 0;

        .toggle-filter, .this-filter {
            display: inline-block;
            color: $white;
            padding: 6px 1rem;


            &:first-child {
                border-right: 1px solid $white;
            }
        }

        .arrow-down {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $white;
            vertical-align: 2px;
            margin: 0 0 0 5px;

        }

        svg {
            fill: $white;
            height: 1rem;
            vertical-align: -3px;
        }

        a.reset-filter {
            margin-left: -10px;
        }

    }

    .filter-container {
        position: relative;
        margin: 0 1rem 1rem ;
        background: $white;
        box-shadow: 1px 1px 5px rgba($black, 0.5);
        overflow: visible;
        display: none;

        &.expanded {
            display: inline-block;
        }

        @include respond-to(large-screens){
            margin: -7px 2.7rem 1rem ;
        }

        > ul,
        >.filters-chapter  {
            padding: 1rem;
        }
    }

    .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;

        position: absolute;
        top: -10px;
        left: 3.5rem;

        @include respond-to(large-screens){
            left: 2rem;
        }
    }

    .filter-chaptertitles {
        min-width: 288px;

        @include respond-to(large-screens){
             float: left;
             width: 150px;
             min-width: 0;
        }

        li {
            width: 100%;
        }

        svg {
            fill: $line-gray;
            font-size: .75em;
            float: right;
            margin-top: .5em;
            margin-right: 0;
        }
    }

    .filters-chapter {
        display: none;
        padding: 0 1rem;
        max-width: 800px; // looks good
        border-left: 1px solid $line-gray;
        margin: 1rem 0;

        @include respond-to(large-screens){
            border-left: 1px solid $line-gray;
            margin: 0 0 0 150px;
        }

        &.current {
            display: block;
        }

        h3 {
            display: none;

            @include respond-to(large-screens) {
                display: block;
            }
        }
    }


    ul.filterlist {


        li {
            @include respond-to(large-screens){
                width: 30%;
                display: inline-block;
            }
        }

        li.current a {
            color: $medium-gray;
            font-weight: 700;
        }
    }

    h3 {
        color: $baseFirstThemeColour;
        font-weight: 400;
        font-size: 1.25rem;
    }

    li {
        margin-bottom: .5rem;
    }

    li.current > a {
        color: $baseFirstThemeColour;
        font-weight: 700;

        svg {
            display:none;

            @include respond-to(large-screens){
                display: inline-block;
                fill: $medium-gray;
            }
        }

    }

    a {
      color: $medium-gray;
    }

}
