/**
 * File:        _navigation.scss
 * Description: _navigation.scss for website navigation, mobile-menu and search togglers and breadcrumb
 * Author:      Anke@twokings.nl
 */


/*
* CONTENTHEADER
**/

.topbar {
    background-color: $denim;
    min-height: 53px;
    z-index: 10; //for sticky
    height: 53px; // to prevent filtering from pushing bar down. remove if it causes other problems!

    @include respond-to (medium-screens) {
        height: 53px;
    }

}

nav.quicklinks {

    ul {
        // background-color: $quicklinks-bar;
        text-align: center;
        padding: 10px 0;

        @include respond-to (medium-screens) {
            text-align: left;
        }
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: $white;
        padding: 6px 0.5rem;
        font-size: 0.75rem;
        line-height: 21px; // magic number: to align bar with menu on left

        @include respond-to (medium-screens) {
            font-size: 0.875rem;
            padding: 6px 1rem;
        }
    }


}


a.back-link {
    color: $white;
    line-height: 21px;

    .current-filters & {
         color: $white;
         border-right: 1px solid $white;
         padding: 6px 1rem 6px 0rem;
    }

    nav.quicklinks & {

    }
}





/*
* MAIN MENU
**/



nav.main-menu {
    position: absolute;
    width: 235px;
    top: 124px; //magic number: height from topbar
    left:-235px;
    //display: none; always on, because on mobile it's waiting to slide in.
    z-index: 15; //check if correct. Needed on mobile for hover over sticky bar.
    background-color: $off-white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);

    @include respond-to(menu-full) {
        display: block; //check, medium or large?
        top: 95px; //magic number: height from topbar
        left: 0;
        box-shadow: none;
    }

    ul {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: $black;
    }


    // CLASS OVERLAY NA TOGGLE
    &.is-overlay {
       //does not do anything here, but give the JS a detection that it's in overlay
    }


    li.is-parent {
        position: relative;
    }

}


// playmenu container styles

#playmenu {
    top: 0;
    position: relative;
    width: 100%;
    z-index: 1;


    .home {
        padding-left: 0;
        background: $dark-blue;

        a {
            color: $white;
            text-align: center;
            font-weight: 400;
            display: block;
            min-height: 27px; // quick fix for pixelproblem in chrome
        }
    }

}

// styling items in playmenu

ul.play-menu {
    border-right: 1px solid $off-white;
    background-color: $white;

    a {
        display: block;

        &:hover {
            font-weight: 700;
            letter-spacing: -0.5px;
        }
    }

    .active > a {
        font-weight: 700;
        letter-spacing: -0.5px;
        color: $dark-blue;
    }

    // listitems toplevel and level 1
    > li,
    > li > .sub-menu > li {
        padding: 0.8125rem 0;
        border-bottom: 1px solid $line-gray;

        &:last-child {
            border-bottom: 0;
        }

        &.active.toplevel {
            padding-left: 0;
            background: $dark-blue;

            > a {
                min-height: 35px;
                color: $white;
                text-align: center;
                font-weight: 400;
                display: block;
            }
        }

        &.active.toplevel:not(.home) {
            min-height: 26em;
            margin-left: 0;
        }
    }

    >li:not(.home){
        margin-left: 0px;
        padding-left: 35px;
    }

    .sub-menu {
        li {
            border-left: none;
        }
    }

    //targets level-1 (light brown level1)
    .toplevel >.sub-menu {
        margin: 5px 0 -12px 0;
        padding: 0 0 0 2rem; //padding: 0 1rem 0 2rem;
        //border-left: none;
        background-color: lighten($paper, 15%);
        min-height: 23em;

        // quick fix to make sure the borders end before the side, but the focus stays on the li.
        >li {
            padding-right: 1rem;
            padding-bottom: 0;
            border-bottom: 0;
        }
        >li > a {
            border-bottom: 1px solid $line-gray;
            padding-bottom: 1rem;
        }
        >li:last-child > a {
            border-bottom: 0;
        }
    }

    // targets level-2 (floating side menus)
    .level-1 >.sub-menu {
        display: none;
        margin-left: 0;
        background-color: $white;

        @include respond-to(menu-full) {
            position: absolute;
            left: 202px; //width of li parent
            top: 0; //magic number: to align with top of li
            width: 200px;
            padding: 1rem;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        }

        li {
            padding: 2px 0;
            border-bottom: none;
        }

        a {
            font-size: 90%;
        }
    }

    .sub-menu li.active .sub-menu {
    // don't show submenu when active
        display: none;
    }

    .sub-menu li:hover .sub-menu {
    // do show submenu when hovered
         display: block;
    }

    .cloned-current {
        font-size: 90%;
        font-weight: 700;
        letter-spacing: -0.5px;
        color: $dark-blue;
        display: block;
        cursor: default;
        margin: 10px 0 0 0;
    }
}


/* the mouseover menu styles */
ul.backlinks.play-menu {
    background: $white;
    top: 53px; //magic number: bottom of sandcolored current item.
    position: absolute;
    width: 25px;
    overflow: hidden;
    z-index: 10;
    height: 22.75em; //make dynamic
    transition: width 0.2s ease-in-out;


    &:before {
        content: "â°";
        font-weight: bold;
        color: $light-gray;
        top: 50%;
        margin-top:-10px;
        padding: 5px;
        position: absolute;
    }

    &:hover {
        background: $white;
        width: 100%;

        &:before {
            content: "";
        }
    }


    li {
        margin-left: 25px;
        padding-left: 10px;

        &.active {
            display: none;
        }
    }
}


// styling secondary menu

nav ul.secondary-menu {

    padding: 2rem 0;

    li {
        font-size: 90%;
        padding-left: 25px;
    }

    .secondary {
        //background-color: $white;
        color: $black;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    a {
        display: block;
    }

    .active > a {
        font-weight: 700;
        letter-spacing: -0.5px;
        color: $dark-blue;
    }

    li:hover a:hover {
        font-weight: 700;
        letter-spacing: -0.5px;
    }

    // no current class, so not sure what this should do...

    // li.is-parent.current {
    //     padding-bottom: 0;
    //     padding-left: 0;
    // }

    // no current class, so not sure what this should do...
    // li.is-parent.current a {
    //     margin-left: 10px;
    // }


    // does not look like its doing anything either
    // li.active ul.sub-menu {
        // background-color: #fff;
        // padding-left: 0;
        // padding-right: 0;
        // margin-bottom: 0;
        // padding-bottom: 10px;
        // margin-top: 10px;
    // }

    // no current class, so not sure what this should do...
    // li.current ul li {
    //     padding-left: 0;
    //     padding-bottom: 0;
    //     padding-right: 0;
    //     border: none;
    // }

}




/*
***********************************************************************
* Footer menu
***********************************************************************
**/


nav.footer-menu {
    ul {

    }

    li {
        display: inline-block;
    }

    a {
        color: $line-gray;
        text-decoration: none;
        border-bottom: 1px dotted $line-gray;
        margin-right: .8em;

        &:hover, &:focus, &:active {
            color: $white;
        }
    }
}

.pagination {
    overflow: hidden;
    text-align: center;
    padding-left: 0;
    margin: 4rem 0;

    section.module & {
        margin: 1rem 0 2rem;
    }

    li {
        display: inline-block;
        border-right: 1px solid $line-gray;
        font-size: 1rem;
    }

    a {
        padding: 0.5rem 1rem;
        display: block;
        font-weight: 700;
        color: $medium-gray;


        &:hover, &:active, &:focus {
            background-color: $off-white;
            text-decoration: none;
        }
    }

    .current a,
    .active a {
        color: $white;
        background: $medium-gray;
    }

    .disabled a {
       &:hover, &:active, &:focus {
        background-color: inherit;
       }
    }
}


/*
***********************************************************************
* LIST FILTERING
***********************************************************************
**/



.filter-listing {

    position: relative;
    font-size: 0.875rem;
    margin-left: 0;

    @include respond-to(large-screens){
        margin-left: 1rem;
        font-size: 0.875rem;
    }

    .current-filters {
        padding: 10px 0;

        .toggle-filter, .this-filter {
            display: inline-block;
            color: $white;
            padding: 6px 1rem;
            font-size: .75rem;

            @include respond-to(large-screens){
                font-size: 0.9375rem;
            }


            &:first-child {
                border-right: 1px solid $white;
            }
        }

        .this-filter {
            // text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
            // width: 100px;
        }

        .this-taxonomy {
            display: none;

            @include respond-to(medium-screens){
                display: inline;
            }
        }

        .arrow-down {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $white;
            vertical-align: 2px;
            margin: 0 0 0 5px;

        }

        svg {
            fill: $white;
            height: 1rem;
            vertical-align: -3px;
        }

        a.reset-filter {
            margin-left: -10px;
        }

    }

    .filter-container {
        position: relative;
        margin: 0 1rem 1rem ;
        background: $white;
        box-shadow: 1px 1px 5px rgba($black, 0.5);
        overflow: visible;
        display: none;

        &.expanded {
            display: inline-flex;
        }

        @include respond-to(large-screens){
            margin: -7px 2.7rem 1rem ;
            align-items: stretch;
        }

        > ul,
        >.filters-chapter  {
            padding: 1rem;
        }
    }

    .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;

        position: absolute;
        top: -10px;
        left: 3.5rem;

        @include respond-to(large-screens){
            left: 2rem;
        }
    }

    .filter-chaptertitles {
        min-width: 288px;

        @include respond-to(large-screens){
            //float: left;

            width: 180px;
            // width: auto;
            min-width: 0;

            flex: 0 0 auto;

        }

        li {
            width: 100%;
        }

        svg {
            fill: $line-gray;
            font-size: .75em;
            float: right;
            margin: .6em 0 0 0;
        }
    }

    .filters-chapter {
        display: none;
        padding: 0 1rem;
        max-width: 800px; // looks good
        border-left: 1px solid $line-gray;
        margin: 1rem 0;

        @include respond-to(large-screens){
            border-left: 1px solid $line-gray;
            margin: 0 0;
            //margin: 0 0 0 175px;
        }

        &.current {
            display: block;
        }

        h3 {
            display: none;

            @include respond-to(large-screens) {
                display: block;
            }
        }
    }


    ul.filterlist {


        li {
            @include respond-to(large-screens){
                width: 30%;
                display: inline-block;
                vertical-align: top;
            }
        }

        li.current a {
            color: $medium-gray;
            font-weight: 700;
        }
    }

    h3 {
        color: $baseFirstThemeColour;
        font-weight: 400;
        font-size: 1.25rem;
    }

    li {
        margin-bottom: .5rem;
    }

    li.current > a {
        color: $baseFirstThemeColour;
        font-weight: 700;

        svg {
            display:none;

            @include respond-to(large-screens){
                display: inline-block;
                fill: $medium-gray;
            }
        }

    }

    a {
      color: $medium-gray;
    }

}

// Cookiebar. 
// Topmessage is general styles, cookiebar is specific for a specific message on top of the site

.topmessage {
    padding: 25px;
    position: relative;

    p {
        font-size: .875rem;
    }
    a {
        border-bottom: 1px dashed currentcolor;
        
        &:hover, &:focus, &:active {
            border-bottom: 1px solid currentcolor;
            text-decoration: none;    
        }
    }
    
    .inner {
        width: 100%;
        margin: 0 auto;
        // background: #f70;

        @include respond-to(large-screens){
            width: 85%;
        }

        @include respond-to(wide-screens){
            width: 75%;
        }
    }

    button.close {
        position: absolute;
        top: 0;
        right: 6px; //optical

        svg {
            width: 12px;
            height: 12px;
        }
    }
}

.cookiebar{
    background: $footer-gray;
    display:none;

    p {
        color: $medium-gray;
        margin: 0;
        // background: #f09;
        
        @include respond-to(large-screens) {
            width: 85%;
            float: left;
        }

        @include respond-to(wide-screens) {
            width: 90%;
        }

    }

    a {
        color: $medium-gray;
        &:hover, &:focus, &:active {
            color: $dark-blue;   
        }
    }

    svg {
        fill: $medium-gray;
    }

    button.ok {
        background: none;
        border: 1px solid $medium-gray;
        color: $medium-gray;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;

        @include respond-to(large-screens) {
            float: right;
            margin: 0 25px 0 0;
        }

        @include respond-to(wide-screens) {
            float: left;
            margin: 0 25px;
        }

        &:hover, &:focus, &:active {
            background: $dark-blue;
            color: $white;
        }
    }
}