/**
*   Helper
*/

/***********************************************
HULPJE
***********************************************/



footer {

    &:after {
            content: "content";
            display: block;
            height: 16px;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            text-align: center;
            font-size: 12px;

        }

    @include respond-to(small-screens){
        &:after {
            content: "small-screens";
            background-color: #0f9;
        }
    }

    @include respond-to(medium-screens) {
            &:after {
                content: "medium-screens";
                background-color: #f06;
        }
    }

    @include respond-to(large-screens) {
        &:after {
            content: "large-screens";
            background-color: #90f;
        }
    }

    @include respond-to(xlarge-screens) {
        &:after {
            content: "xlarge-screens";
            background-color: #903;
        }
    }

    @include respond-to(wide-screens) {
        &:after {
            content: "wide-screens";
            background-color: #906;
        }
    }
}
