// SPLASHPAGE 10 years Europeana Pro

/* separate breakpoint for this splash: 600px */
@media only screen and (min-width: 37.5em) {
// here be stuff for the big screen
}


.splashpage-ten-years header {
    background-color: $white;
    padding: 1rem;

    @include respond-to(large-screens) {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .mainlogo {
        // width: 100%;
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
        width: 165px;

        @include respond-to(large-screens) {
            width: 165px;
            margin: 0 1rem 0 0;
        }

        img {
            width: 165px;
            height: auto;
        }

        h1 {

        }

    }

    nav {
        flex-grow: 1;
        display: flex;
        padding: 0;
        margin-top: 1.5rem;
        align-items: flex-start;
        // background: #f70;
              
        @include respond-to(large-screens) {
            padding-left: 1.5rem;
            margin-top: 0;
        }

        ul {
            // background: #f07;
        }

        li {
            display: inline-block;
            padding: 1rem 1rem 0 0;
        }

        a {
            font-weight: 700;
            color: $black;
            
            // padding: 0 1.5rem 0 0;
        }
    }

    a.button {
        padding: 1rem;
        margin-left: auto;
    }
}
    

.wheel-section {
    background: $white;
    // background: $white url('../images/splash_tenyears/decahedron_background_pattern.png');
    background-size: 35px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 1rem;
    width: 100%;
    // transition:  background 0.1s ease-out; // background image cannot have transition ... causes flickering ^AW

    &.hashighlight {
        background: $white url('../images/splash_tenyears/decahedron_background_pattern.png');
        background-size: 35px 24px;    
    }

    // > 600px
    @media only screen and (min-width: 37.5em) {
        padding: 7.5rem 0;
        width: 100%;       
    }
    
    .wheel-container {
        max-width: 530px;
        max-height: 530px;
        width: 100%;
        height: 100%;
        // background: #f07;

        // > 600px
        @media only screen and (min-width: 37.5em) {
            
        }
    }

    .wheel {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        // background: #f09;

        // > 600px
        @media only screen and (min-width: 37.5em) {
        
        }

    }

    .center {
        width: 86%;
        height: 86%;
        border-radius: 50%;
        background: $white;
        // opacity: 0.5;
        position: absolute;
        top: 6%;
        left: 7%;
        z-index: 3;
        text-align: center;

        // > 600px
        @media only screen and (min-width: 37.5em) {
            top: 6%;
            left: 6%;
            width: 88%;
            height: 88%;  
        }
    }

    .gates {
        padding-top: 15vw;
        margin: 0;
        
        color: $baseFirstThemeColour;
        text-transform: uppercase;
        letter-spacing: .3px;
        font-size: 2.3vw;
        font-weight: 700;
       
        @media only screen and (min-width: 37.5em) {
            padding-top: 90px;
            font-size: 0.8625rem;
        }
        
    }

    .mainnumber {
        // padding-top: 15vw;
        margin-top: -15px;
        margin-left: -10vw; //optical and responsive
        font-size: 40vw; //responsive font size
        font-weight: 600;
        letter-spacing: -0.17em;
        line-height: .9;
        margin-bottom: 0;

        // > 600px
        @media only screen and (min-width: 37.5em) {
            font-size: 15.125rem;
            margin-left: -68px; //optical
            // padding-top: 60px;
        }
    }

    .slogan {
        padding-left: 30vw;
        font-size: 3vw; //responsive font size
        width: 370px;
        text-align: left;
        margin: 0;
        line-height: 1.2;

        // > 600px
        @media only screen and (min-width: 37.5em) {
            font-size: 1.125rem;
            padding-left: 166px;
        }
    }


    article {
        .handle { //the form thingie that gets hovered!
            transform-origin: bottom center;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 34%;  //why?
            width: 32%;
            height: 49%;

            @media only screen and (min-width: 37.5em) {
                display: block;
                width: 172px;
                height: 265px;
            }

            > svg {
                display: block;
                // width: 25%;
                // height: 25%;
            }

            

            &.handle-1 {
                transform: rotate(0deg);
            }
            &.handle-2 {
                transform: rotate(36deg);
            }
            &.handle-3 {
                transform: rotate(72deg);
            }
            &.handle-4 {
                transform: rotate(108deg);
            }
            &.handle-5 {
                transform: rotate(144deg);
            }
            &.handle-6 {
                transform: rotate(180deg);
            }
            &.handle-7 {
                transform: rotate(216deg);
            }
            &.handle-8 {
                transform: rotate(252deg);
            }
            &.handle-9 {
                transform: rotate(288deg);
            }
            &.handle-10 {
                transform: rotate(324deg);
            }
        }
        
        // display: none;

        // > 600px
        

        > .center { //all other centers
            display: none;
            text-align: center;
        }

        h2.mainnumber {
            margin-bottom: 0;
            padding-top: 20px;
            text-align: center;
            margin-left: 0;
            letter-spacing: 0;
            // margin-left: -38px;
        }

        .statement {
            font-size: 3vw; //responsive font size
            line-height: 1.2;
            width: 90%;
            margin: 1rem auto;
            height: 50px;
            
            @media only screen and (min-width: 37.5em) {
                font-size: 1.125rem;
                height: 80px; // set height for equal quotes
            }    
        }

        .thumblink-persons {
            a {
                display: inline-block;
            }
            h3 {
                font-size: 0.75rem; 
                margin: 0;  
            }
            p.function {
                font-size: 0.55rem;
                color: $black;
                width: 50%;
                margin: 0 auto;
                text-align: center;
            }
            p.country {
                font-size: 0.40rem;
                color: $black;
                margin: 0;
            }
        }

        img.round {
            width: 48px;
            height: 48px;
        }

    }
}


section.heritage-specialists {
    background: $paper url('../images/splash_tenyears/decahedron_background_pattern.png');
    background-size: 35px 24px;

    
    h2 {
        text-transform: none;
        color: $baseFirstThemeColour;
        font-size: 1.5rem;
        text-align: left;
        padding: 0 1rem;
        font-weight: 400;

        @include respond-to(medium-screens) {
            font-size: 2rem;
        }

        @include respond-to(large-screens) {
            font-size: 2.5rem;
        }
    }

    h3 {
        color: $black;
        font-size: 1.175rem;
        font-weight: 600;
        margin-bottom: .2rem;
    }
    p.function {
        color: $black;
        font-size: 0.83rem;
        margin-top: 0;
    }
    p.country {
        font-weight: bold;
        font-size: 0.625rem;
    }

    img.round {
        width: 116px;
        height: 116px;
    }


}

.splashpage-ten-years footer {
    margin-top: 0;
    
    .sub-footer {
        margin-top: 2rem;
    }

    .copyright {
        @include respond-to(large-screens) {
            float: left;
        }
    }

    .eu-disclaimer {
        @include respond-to(large-screens) {
            float: right;
            max-width: 700px;
            width: 56%; //optical
        }
        
    }
}


