body {
    background-color: $off-white;
}

/*
* HEADER
**/

header {
    position: relative;
    background: $white;

    h1, .home-link { //logo
        margin: 1rem 0 0 0;
        display: block;

        img {
           height: 50px;

           @include respond-to(medium-screens) {
            height: 65px;
           }
        }
    }

    button.toggle {
        background: none;
        border: none;
        position: absolute;
        top: 1rem;
        padding: 1rem;
        font-size: 1.25rem;

        &.menu-toggle{
            left: 0rem;
            width: 3.5rem;
            height: 4rem;

            svg {
                position: absolute;
                left: 1rem;
                top: 1.3rem; //optical
            }

            svg.icon-delete {
                display: none;
            }

        }

        &.search-toggle {
            right: 0rem;
        }

        svg {
            fill: $medium-gray;
        }

        @include respond-to(menu-full) {
            display: none;
        }
    }

    &.fixed {
        position: fixed;
        top: -200px;
        z-index: 100; //index($layers, header);
        box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
        padding-bottom: 1rem;

        .payoff {
            display: none;
        }
    }

}



.mainlogo {
    position: relative;
    padding-left: 1.5rem;
    margin: 0 auto;
    width: 185px;

    @include respond-to (menu-full) {
        margin: 0 0 0 -1rem;
        width: 225px;
    }
}

.version-flag {
    position: absolute; //0 - 0
    top: 0;
    left: 0;
    color: $white;
    background-color: $version-flag;
    text-transform: uppercase;
    padding: 0em .5em;
    font-size: 0.6875rem;

    @include respond-to (medium-screens) {
        font-size: 0.75rem;
    }
}

.payoff {
    color: $medium-gray;
    font-size: 0.75rem;
    text-align: center;

    @include respond-to (menu-full) {
        text-align: left;
        margin: -1.2rem 0 1.1rem 4.3rem; //visual heights to get layout as designed
    }
}


/*
* HIGHLIGHT-BAR
**/

.highlight-bar {

    ul {
        display: flex;
        wrap: no-wrap;
        justify-content: space-around;

        @include respond-to (large-screens) {

        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 0.75rem;
        margin: .5rem 0 ;

        @include respond-to (large-screens) {
            font-weight: 400;
            font-size: 1rem;
            width: 98px; // magic number: aligns on ipad with txt //130px;
            text-align: center;
            float: left;
            margin: 2rem 1rem  0 0;
            letter-spacing: 2px;
        }

        @include respond-to (xlarge-screens) {
            width: 162px; // magic number: aligns with txt
        }
    }

    li {
        display: inline-block;
        flex-grow: 1;
        width: 30%;
        margin-right: .25rem;

        &:last-child {
            margin-right: 0;
        }

        @include respond-to (large-screens) {
            width: 17rem;
            margin-top: 1rem;
        }
    }

    img {
        margin-bottom: .3rem;

        @include respond-to (large-screens) {
            float: left;
            margin: 0 1rem 1rem 0;
        }

    }

    li a {
        color: $medium-gray;
        line-height: 1.375;
        display: inline-block;
        font-size: 0.75rem;

        @include respond-to (large-screens) {
           font-size: 1rem;

        }

    }

    a.readmore {
        text-transform: uppercase;
        font-size: 0.75rem;
        margin: .5rem 0 0 0;
        color: $link-blue;

        display: block;
        position: absolute;
        top: 0;
        right: 0.875rem;

        @include respond-to (large-screens) {
           top: auto;
           bottom: 0;
        }
    }


}


/*
* FOOTER
**/

footer {
    .logo-small {
        width: 80px;
        display: inline-block;
        margin-right: 1rem;

        @include respond-to (medium-screens){
            width: 128px;
            display: block;
            margin-bottom: 1rem;
        }
    }

    address {
        display: inline-block;
    }
}

.sub-footer {
    border-top: 1px solid $line-gray;
}

.footer-block-address {
    margin-bottom: 2rem;

    >* {
        vertical-align: middle;
    }
}

.footer-block-mission {
    margin-bottom: 2rem;

}

/*
* WIDGET ELEMENTEN
**/

img.round {
    border-radius: 50%;

    .fourth & {
        width: 108px;
        height: 108px;
        margin: 0 auto;
    }

    .third & {
        width: 164px;
        height: 164px;
        margin: 0 auto;
    }

}

.colored-image {
    display: block;
    height: 100%;
    background-color: $baseFirstThemeColour;
    background-blend-mode: multiply;
}

.label {
    display: inline-block;
    font-size: 0.75rem;
    color: $white;
    background: $baseFirstThemeColour;
    border: 1px solid $white; // to prevent skipping when hovered
    padding: 0 0.7rem;
    line-height: 1.6;
    margin: 0.75rem 0;

    &:hover, &:focus, &:active {
        color: $baseFirstThemeColour;
        background: $white;
        // font-weight: 700;
        text-decoration: none;
        border: 1px solid $baseFirstThemeColour;
        // letter-spacing: -.5px;
    }

    @include respond-to(medium-screens){
        font-size: 0.9375rem;
    }

    &.label-markets {
        background-color: $paper;
        color: $medium-gray;

        &:hover, &:focus, &:active {
            color: $medium-gray;
            background: $white;
            border: 1px solid $medium-gray;
        }
    }
}




/*
* WIDGET HERO BANNERS
**/

.banner,
a.banner {
    display: block;
    height: 16rem;
    position: relative;
    margin:  0;

    @include respond-to(large-screens){
        height: 20rem;
        margin: 1rem 0;
    }

    .colored-image {
        position: absolute;
        width: 100%;
        left:0;
        top:0;

    }

    h3 {
        text-transform: uppercase;
    }

    .header-group {
        position: absolute;
        bottom: 0;
        color: $white;
        padding: 1rem;
        left: 0;
        width: 80%; // was 100, maar nu ruimte voor image attr knopje
        text-shadow: 0px 0px 2px rgba($black, 0.5);

        @include respond-to(large-screens){
            left: 60.666%; //66.666 edited because of banner info image button thingie
            width: 33%;
        }

        p {
            font-size: 0.75rem;

            @include respond-to(large-screens){
                font-size: 0.875rem;
            }

        }
    }

    &.third .header-group {
        left: 0;
        width: 80%; // was 100, maar nu ruimte voor image attr knopje

        p {
            font-size: 0.75rem;
        }
    }

}

.ripple {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    z-index: 30;

    svg {
        width: 320px;
        height: 320px;
        display: block;
        transform-origin: 0px 0px;
        margin: 0;
        padding: 0;
    }

    use {
        border: 1px solid #fff;
        background-color: #f09;
    }

    &.white {
        svg {
            fill: $white;
        }
    }

    &.black {
        svg {
            fill: $black;
        }
    }

    &.no-ripple {
        display: none;
    }

    &.pct25 {
        opacity: 0.25;
    }

    &.pct50 {
        opacity: 0.50;
    }

    &.pct75 {
        opacity: 0.75;
    }

    &.ripple-topright {
        right: 0;
        top: 0;
        left: auto;
        bottom: auto;
        transform: rotate(180deg);

    }

    &.ripple-topleft {
        right: auto;
        top: 0;
        left: 0;
        bottom: auto;
        transform: rotate(90deg);


    }

    &.ripple-bottomright {
        right: 0;
        top: auto;
        left: auto;
        bottom: 0;
        transform: rotate(-90deg);


    }

    &.ripple-bottomleft {
        right: auto;
        top: auto;
        left: 0;
        bottom: 0;
    }


}

.license-attribution {

    button.image-info {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 50;
    }

    article {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        background: rgba($black, 0.95);
        color: $white;
        border-radius: 5px;
        padding: .5rem;
        z-index: 50;
        display: none;

        &.expanded {
            display: block;
        }

        p {
            margin: 0;
            font-size: 0.6875rem;

        }

        span.image-license {
           font-size: 0.6875rem;
        }
    }


}


/*
* WIDGET TWO COLUMN TEASERS / NEWS
**/

.teaser-twocol {

    .img-container {
        width: 27.5%;
        float: left;
        position: relative;
        margin-right: .875rem;

        @include respond-to(large-screens){
            width: 50%;
        }
    }

    .img-insert {
        position: absolute;
        padding: .75rem 0.875rem;
        margin: 0;
        top: 0;
        right: 0;
        background: $white;
        display: none;

        @include respond-to(large-screens){
        display: block;
        }
    }

    .label {
        margin: 0 0 0.75rem 0;
    }

    p {
        margin: 0 0 .5rem;
        font-size: 0.875rem;

        @include respond-to(medium-screens){
            font-size: 1rem;
        }
    }

    p.meta {
        display: block;

        @include respond-to(large-screens){
            display: none;
        }
    }

    a.readmore {
        display: none;

        @include respond-to(medium-screens){
            display: block;
        }
    }


}

/*
* WIDGET CALL TO ACTION - READ MORE (hoort bij bovestaande NEWS)
**/

div.calltoaction-readmore {
    padding: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(large-screens){
        height: 55px;
    }

    .header-group {
        text-align: center;
        width: 95%;
        padding: 0;
        margin-top: 0;

        @include respond-to(medium-screens){
            width: 80%;
        }
    }

    p {
        display: inline-block;
        color: $white;
        font-size: 0.875rem;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .button-link {
        display: inline-block;
        margin-top: 0;
    }

}



/*
* WIDGET THREE COLUMN TEASERS / SEMI STATIC CONTENT / RELATED ITEMS
**/

.teaser-threecol {

    p {
        margin: 0 0 .5rem;
        font-size: 0.875rem;

        @include respond-to(medium-screens){
            font-size: 1rem;
        }
    }

    aside & {
        background-color: $off-white;

        h3, p {
            padding: 0 1.5rem;
        }

        h3 {
            margin: 1.5rem 0 1rem;

            a {
                color: $medium-gray;
            }
        }

        p {
            margin-bottom: 1.5rem;
        }
    }
}


.related-events {
    position: relative;

    .info-block {
        position: absolute;
        right: 0;
        top: 0;
        width: 145px;

        @include respond-to(medium-screens){
            width: 172px;
        }
    }
}

/*
* WIDGET THREE COLUMN CATEGORY ICON / CATEGORY STREAMS v1
**/

.icon-threecol {
    text-align: center;

    img.round {
        margin: 2.5rem auto;
    }
}


/*
* WIDGET THREE COLUMN CATEGORY TEASER / CATEGORY STREAMS v2
**/

section.catstream {
    padding-top: 2rem;

    @include respond-to(large-screens){
        padding-top: 4rem;
    }
}

.catstream-threecol {
    border-left: 1px solid $line-gray;
    border-right: 1px solid $line-gray;

    @include respond-to(large-screens){
        padding: 0 1.5rem; // vanwege lijn, bredere padding
    }


    .catstream-index1 & {
        border-left: 0px;
    }

    .catstream-index3 &{
        border-right: 0px;
    }

    p {
        font-size: 0.875rem;

        @include respond-to(medium-screens){
            font-size: 1rem;
        }
    }
}


/*
* WIDGET FOUR COLUMN THUMBNAILED LINKS
**/

.thumblink-fourcol {
    text-align: center;

    h3 {
        margin: 1rem 0 .5rem;
    }

    &.thumblink-persons h3 {
        text-transform: none;
    }

    .function{
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .company {
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-top: .5rem;
    }
}


/*
* WIDGET CALL TO ACTION FULL / HALF
**/

div.calltoaction {  //little bit more specific to avoid issues with defaul header group
    height: 200px;
    position: relative;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-group {
        color: $white;
        text-align: center;
        width: 70%;
        padding: 0;
        margin-top: 0;


        p {
            font-size: 0.875rem;
            margin: 0 0 0.5em 0;
        }

    }

}


/*
* WIDGET CALL TO ACTION LINE
**/

.calltoactionform,
.calltoactionlink {
    position: relative;
    background-color: $baseFirstThemeColour;
    overflow: hidden;
    margin: 1rem 0;


    @include respond-to(large-screens) {
        height: 55px;
        //for vertical alignment
        display: flex;
        align-items: center;
    }


    .colored-image {
        display: block;
        width: 100%;
        height: 55px;
        background-color: $baseFirstThemeColour;
        background-blend-mode: multiply;

        @include respond-to(large-screens) {
            width: 55%;
            float: left;
        }
    }

    h3 {
        position: absolute;
        margin: 0 1rem 0 0;
        color: $white;
        text-transform: none;
        top: 1.1rem;
        text-align: center;
        width: 100%;
        left: 0;

        @include respond-to(large-screens) {
            right: 45%;
            left: auto;
            width: auto;
        }
    }

    .button {
        display: inline-block;
        background-color: darken($baseFirstThemeColour, 25%);


        &.actionbutton {
            margin: 1rem auto;
            display: block;
            width: 80%;
            max-width: 250px;

        @include respond-to(large-screens) {
            display: inline-block;
            margin: 0 0 0 5rem;
            width: auto;
            max-width: none;
            }
        }

    }

    input.button,
    button[type=submit] {
        margin-left: 0;
        border-radius: 0 5px 5px 0;
        padding: .3rem 1rem;
    }

    form {
        width: 100%;
        padding: .5rem 0;
        text-align: center;

        @include respond-to(large-screens) {
            float:left;
            width: 45%;
            padding: .3rem 3rem .3rem 1rem;
            text-align: left;
        }

    }


}

/*
***********************************************************************
* CONTENT PAGE
***********************************************************************
**/

.side-info {
    text-align: right;
    padding: 0 0.875rem;
    // margin-bottom: 2rem;


    @include respond-to(large-screens) {
        // margin-bottom: 2rem;
        position: absolute;
        z-index: index($layers, higher-content);
        top: -7.5rem;
        right: 0;
    }

    &.centered-info {
        @include respond-to(large-screens) {
            text-align: center;
        }
    }

    p {
        margin-bottom: 0.5rem;
        color: $light-gray;
    }

    .label {
        margin-top: 0;
    }

    span.teamname {
        display: block;
        font-size: 0.75rem;
        text-align: center;

        @include respond-to(medium-screens) {
            font-size: 0.9375rem;
            text-align: right;
        }
    }
}



.deadline-block {
    // display: inline-block;
    // max-width: 200px;
    text-align: center;
    margin: 0rem 0 1rem;

    @include respond-to(medium-screens) {
        display: inline-block;
    }

}

.date-block {
    padding: 1rem;
    margin: 1rem 0;
    border-top: 1px solid $line-gray;
    border-bottom: 1px solid $line-gray;
    text-align: center;
    color: $medium-gray;
    font-weight: 700;

    .date-txt {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.75rem;

        @include respond-to(medium-screens){
            font-size: .87rem;
        }
    }

    .date {
        display: block;
        font-size: 1rem;

        @include respond-to(medium-screens){
            font-size: 1.25rem;
        }
    }
}

.community-info {
    position: absolute;
    top: 15px; //magic number - optical nice space

    font-size: 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    color: $medium-gray;
    padding: 0 0.2em;
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
    line-height: 1.4;

    @include respond-to(medium-screens){
        top: 7px; //magic number - optical nice space
    }

    @include respond-to(large-screens){
        font-size: 2.18rem;
        top: -6rem;
    }

    .highlight-bar & {
        position: static;
        margin: 1rem 0;

        @include respond-to(medium-screens){

        }

        @include respond-to(large-screens){
            float: left;
            margin: 1.6rem 0; //optical alignment
        }
    }

}


.contentpage {
    .header-group,
    .personal {
        position: relative;
        margin-top: 2rem;

        @include respond-to(large-screens) {
            margin-top: 3rem;
        }
    }

    &.detail-jobs,
    &.detail-projects {
        .header-group h1 {

            @include respond-to(large-screens) {
                padding-right: 150px; // magic number, to avoid problems with abs pos time block
            }
            @include respond-to(xlarge-screens) {
                padding-right: 100px;
            }
        }

        .introduction {
           @include respond-to(large-screens) {
                padding-right: 150px; // magic number, to avoid problems with abs pos time block
            }
             @include respond-to(xlarge-screens) {
                padding-right: 100px;
            }
        }
    }
}

.author-small-container {

    @include respond-to(large-screens){
        position: absolute;
        max-width: 100px;
        left: -2.75rem;
        top: 0;
    }

    @include respond-to(xlarge-screens) {
        left: -.5rem;
    }
}

.author-small {
    margin-bottom: 1rem;

    @include respond-to(large-screens) {
        margin-bottom: 2rem;
    }

    img {
        float: left;
        margin: 0 1rem 1rem 0;

         @include respond-to(large-screens) {
            float: none;
         }
    }

    .letter-overlay {
        position: absolute;
        color: $white;
        font-size: 3rem;
        top: 0px;
        width: 72px;
        left: 0;
        text-align: center;
    }

    p.name {
        font-weight: 700;
        font-size: 0.75rem;
        margin: 1rem 0 0 0;
        line-height: 1.4;
    }

    p.function {
        font-style: italic;
        font-size: 0.625rem;
        //margin: 0;
        color: $medium-gray;
        font-weight: 400;
        line-height: 1.6;
    }
}


.author-big {

    border-top: 1px solid $line-gray;
    padding: 2rem 0 0 0;
    // min-height: 175px; // height of image + padding

    .img-container {
        float: left;
        margin: 0 1rem 1rem 0;
        position: relative;


        @include respond-to(large-screens) {
            margin: 0 2rem 0rem 0;
        }
    }

    .letter-overlay {
        position: absolute;
        color: $white;
        font-size: 5rem;
        top: 6px; //magic number / optical
        width: 144px;
        left: 0;
        text-align: center;
    }

    img {
        width: 90px;
        height: 90px;

        @include respond-to(large-screens) {
            width: 144px;
            height: 144px;
        }
    }

    .txt-container {
        // padding: 0 2rem 0 108px; //magic number: img plus margin
        max-width: 900px;

        @include respond-to(large-screens) {
            padding: 0 2rem 0 176px; //magic number: img plus margin
        }
    }

    a.url {
        display: block;
    }
}

.related-content {
    border-top: 1px solid $line-gray;
    padding: 2rem 0 0 0;

    @include respond-to(large-screens) {
        padding: 4rem 0 0 0;
    }
}

.primary-call-to-action {
    text-align: center;
    margin: 2rem 0;

    @include respond-to(large-screens) {
        margin: 4rem 0;
    }
}


// BLOCK voor event dates / rest info

.info-block {
    display: inline-block;
    width: 95px;
    background-color: $white;
    padding: 0.8rem;
    text-align: center;
    line-height: 1;
    color: $medium-gray;

    @include respond-to(large-screens){
            width: 172px;
            padding: 0.8rem;
        }

    .event-figure & {
        width: 120px;

        @include respond-to(large-screens){
            padding: 1.6rem;
            width: 200px;
        }
    }

    .teaser & {
        width: auto;
    }


    .event-days{
        display: block;
        letter-spacing: -0.05em;
        font-size: 1.25rem;

        @include respond-to(large-screens){
            font-size: 2rem;
        }

    }

    .event-month {
        display: block;
        margin-top: 0.6em;
        margin-bottom: 0.4em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.6875rem;

        @include respond-to(large-screens){
            font-size: 0.6875rem;
        }
    }

    .event-time {
        display: block;
        border-top: 1px solid #e7e7e7;
        padding: 0.6em 0;
        font-weight: 700;
        font-size: 0.6875rem;

        @include respond-to(large-screens){
            font-size: 1rem;
        }
    }

    .event-location {
        display: block;
        border-top: 1px solid #e7e7e7;
        padding: 0.6em 0 0;
        font-size: 0.75rem;
        line-height: 1.4;
        max-width: 150px;

        @include respond-to(large-screens){
            font-size: 1rem;
            max-width: 200px;
        }

    }

    .info-type {
        display: block;
        font-size: 1.25rem;
        text-transform: uppercase;
        padding-bottom: 1rem;

        @include respond-to(large-screens){
            font-size: 1.5rem;
        }

    }

    .info-date {
        display: block;
        padding: 0.6em 0;
        font-size: 0.75rem;

        @include respond-to(large-screens){
            font-size: 0.8125rem;
        }
    }

    .info-author {
        display: block;
        border-top: 1px solid #e7e7e7;
        padding: 0.6em 0 ;
        font-size: 0.75rem;
        line-height: 1.4;
        // background-color: #f09;

        &:last-of-type {
            padding-bottom: 0;
        }


        @include respond-to(large-screens){
            font-size: 0.8125rem;
        }
    }

    .info-action {
        display: block;
        color: $collections-blue;
        padding: 1.6em 0 0;
        text-transform: uppercase;
        font-weight: 700;

        svg {
            fill: $collections-blue;
            margin-right: .5rem;
        }
    }

    svg {
        fill: $light-gray;
    }

}

.event-figure {
    position: relative;
    height: 560x;
    margin-bottom: 2rem;


    .add-calendar-wrapper {
        text-align: right;
        padding-bottom: 1rem;
    }

    .map {
        position: relative;
        // height: 250px;
        // overflow: hidden;

        @include respond-to(large-screens){
            height: auto;
        }

        img {
            // width: 100%;
        }
    }

    img.static-map {
        width: 100%;
    }

    .img-container {
        position: relative;

        @include respond-to(large-screens){
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            display: inline-block;
            height: 80%; //70%;
            width: 70%; //60%;
            overflow: hidden;
        }

    }

    .event-img {
        width: 100%;
        height: auto;
        padding-top: 0rem;

        @include respond-to(large-screens){
            padding-top: 2rem;
        }
    }

    .info-block {
        position: absolute;
        right: 1rem;
        top: -2rem;
        z-index: 20;

        @include respond-to(large-screens){
            left: auto;
            right: 0;
            top: 0;
        }
    }
}

// COLLAPSSIBLE CONTENT

.file-content-module,
.download-module {
    margin: 2rem 0;

    @include respond-to(medium-screens){
        margin: 4rem 0;
    }

    .collapse-header {
        position: relative;
        box-shadow: 1px 1px 5px rgba($black, 0.5);
        padding: 1rem;
        margin-bottom: 4px; // Magic number - to prevent from overlapping boxshadow of header
        text-align: center;

        h3 {
            display: inline-block;
            font-weight: 400;
            font-size: 0.875rem;
            margin-bottom: 0;
            color: $black;

            @include respond-to(medium-screens){
                font-size: 1rem;
            }

        }

        svg.icon-facet_up,
        svg.icon-facet_down {
            position: absolute;
            top: 20px;
            right: 12px;
        }

        .content-kind {
            position: absolute;
            left: 1rem;
            margin: 0;
            display: inline-block;
            color: $light-gray;

            span {
                display: none;

                @include respond-to(large-screens){
                    display: inline;
                }
            }
        }

    }

    .collapse-content {
        background-color: $off-white;
        padding: 1rem;
        padding-bottom: 0;
        color: $black;
        font-size: 0.875rem;

        @include respond-to(medium-screens){
                font-size: 1rem;
            }

        > a {
           display: inline-block;
           padding-bottom: 1rem;
        }

        &.has-sublist {
            padding-bottom: 0;
        }

        &.has-sublist > a {
            display: block;
        }

        p {
            margin-top: 0;
        }

    }

    .meta {
        font-size: 0.75rem;
        margin-top: .5rem;

        @include respond-to(large-screens){
            display: inline-block;
            margin-left: .5rem;
            margin-top: 0;
        }
    }

    .date-added {
        float: right;
        text-align: right;

        @include respond-to(large-screens){
            display: block;
            position: absolute;
            right: 1rem;
            bottom: 1.1rem; //optical
        }
    }

    a {
        //display: block;
        color: $black;
        //margin: 1rem;

    }

    li {
        position: relative;
    }

    li.collapse-content {
        border-bottom: 1px solid $line-gray;
    }

    ul.sublist { //subfolders
        background: $white;
        padding: 0 .5rem;
        //margin-top: 1rem;
        margin: 0rem -1rem 0;
        border-top: 1px solid $line-gray;

        li {
            border-left: 1px solid $line-gray;
            border-right: 1px solid $line-gray;
            border-bottom: 1px solid $line-gray;
            background: $white;
            padding: 1rem;

            &:last-of-type {
                border-bottom: 0;
            }
        }
    }

    svg {
        margin-right: .5rem;
    }

}

.collapsed-content-module {

    .collapse-content {

        padding-bottom: 1rem;
    }
}

.download-module { // DOWNLOAD ONLY STYLES
    margin: 2rem 0;

    @include respond-to(medium-screens){
        margin: 4rem 0;
    }

    li {
        position: relative;
        border-bottom: 1px solid $line-gray;
        padding: 1rem;
        font-size: 0.875rem;

        &:first-of-type {
            border-top: 1px solid $line-gray;
        }

        @include respond-to(medium-screens){
                font-size: 1rem;
            }
    }
}


.personal {

    // Te veel uitzonderingen
    // + blockquote {
    //    @include respond-to(large-screens){
    //         margin-top: -2rem;
    //     }
    // }

    h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .socials {
        margin-top: 1.5rem;

        svg {
            font-size: 2rem;
        }

    }

}

.personal-img {

    @include respond-to(large-screens){
        float:left;
        width: 45%;
    }
}

.personal-details {
    color: $medium-gray;

    @include respond-to(large-screens){
        float:left;
        width: 55%;
        padding-left: 1.5rem;
    }
}

.personal-network {
    font-weight: 700;
    margin-bottom: 1rem;
}

.personal-function {
    font-size: 0.875rem;
    margin-bottom: 1rem;

    span:first-of-type{
        font-weight: 700;
    }
}

.personal-contact {
    a {
        display: block;
        margin-bottom: 0.5rem;
    }
}


.info-list {
// in an info list, the teasers are separated by lines

    li {
        padding: 2rem;
        border-bottom: 2px solid $line-gray;
    }

    &.info-list-twocol li {

        // padding: 0;

        @include respond-to(large-screens) {
            padding: 0;
            border-bottom: none;
        }
    }

    .teaser {
        margin: 0;
    }
}

/*
***********************************************************************
* LISTING PAGE + TEASERS
***********************************************************************
**/





.teaser {
    margin-bottom: 3.5rem;
    width: 100%; // CHECK OF DIT GOED GAAT. GEFIXT omdat teaser lists verschilden van formaat.


    .img-container {
        position: relative;
        margin-bottom: 2rem;

        @include respond-to(large-screens){
            float:left;
            width: 55%;
            margin-right: 1.5rem;
            margin-bottom: 0;
        }

        .info-block {
            position: absolute;
            top: 0;
            right: 0;
            padding-top: .5rem;
        }
    }

    .actions-footer {
        vertical-align: bottom;
        margin: 2rem 0 0 0;

        a.add-calendar {
            // color: $medium-gray; //confusing, cause its a link
        }

        svg {
            fill: $baseFirstThemeColour;
        }

        .button-link,
        .cta-link {
            margin-top: 0;
            float: right;
        }
    }

    &.featured {
        background-color: $off-white;
        padding: 1rem;

        @include respond-to(medium-screens){
            border: 1rem solid $off-white;
            margin: -1rem -1rem 3.5rem -1rem;
            min-width: 100%;
            width: auto;
            padding: 0;
        }
    }

    .featured-label {
        display: block;
        margin-top: 1rem;
        color: $medium-gray;
        text-transform: uppercase;

        svg {
            margin-right: .5rem;
        }
    }

}

.teaser-persons {
    margin: 3rem 0;

    .half & {
        @include respond-to(large-screens) {
            padding-right: 1rem;
        }
    }

    // Not used:
    // li {
    //     //border-bottom: 1px solid $line-gray;
    //     padding-bottom: 1.5rem;

    //     @include respond-to(large-screens) {
    //         padding: 0 2rem 1.5rem 2rem; //
    //     }
    // }

    // Not used?
    // .info-block {
    //     padding: 0.8rem 0;
    // }

    .img-container {
        float: left;
        margin: 0 1rem 0rem 0; // was margin: 0 1rem 1rem 0
        width: 95px;

        @include respond-to(large-screens) {
            margin: 0 2rem 0rem 0; // was margin: 0 2rem 1rem 0
            width: 175px;
        }
    }

    .half & .img-container {
        // width: 95px;

        @include respond-to(large-screens) {
            margin: 0 1rem 1rem 0;
            width: 95px;
        }

        @include respond-to(xlarge-screens) {
            width: 175px;
        }
    }

    img {
        width: 95px;
        height: 95px;

        @include respond-to(large-screens) {
            width: 175px;
            height: 175px;
        }
    }

    .half & img {

        @include respond-to(large-screens) {
            width: 95px;
            height: 95px;
        }

        @include respond-to(xlarge-screens) {
            width: 175px;
            height: 175px;
        }
    }

    .txt-container {
        padding: 0 0rem 0 0;

        @include respond-to(medium-screens) {
            padding: 0 0rem 0 112px;
        }

        @include respond-to(large-screens) {
            padding: 0 0rem 0 236px;
        }
    }

    .half & .txt-container {

        @include respond-to(large-screens) {
            padding: 0 0rem 0 111px;
        }

        @include respond-to(xlarge-screens) {
            padding: 0 0rem 0 191px;
        }
    }

    p.function {
        margin-top: 0;
    }

    p.company {
        margin-top: -.5rem;
    }

    p.networklevel {
        margin-top: 0;
    }

    .contact a {
        margin-right: .5rem;

        &.phone,
        &.tel,
        &.email {
            //margin-left: .5rem;
        }

        &.li,
        &.tw {
            display: none;

            @include respond-to(large-screens) {
                display: inline-block;
            }
        }

        svg {
            margin-right: 0;
        }
    }


    .button {
        margin: 1rem 0;
    }

    .socials {
        text-align: center;

        @include respond-to(large-screens) {
            display: none;
        }

        svg {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }

        svg:last-child {
            margin-right: 0;
        }
    }

    .half & {
        p.company,
        p.function {

            @include respond-to(large-screens) {
                font-size: 1rem;
            }
        }

        a.email {
            font-size: 0.875rem;
        }


    }
}

/*
***********************************************************************
* LISTING TABLE
***********************************************************************
**/

table.listingtable {
    border-bottom: 1px solid $line-gray;
    margin-top: 1rem;
    width: 100%;

    thead {
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
        display: none;


        // Targetting safari 10.1+  - does not support box shadow
        @media not all and (min-resolution:.001dpcm) {
            @supports (-webkit-appearance:none) {
                & {
                    border: 1px solid $line-gray;
                }
            }
        }

        // Targetting safari 9  - does not support box shadow
        @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
            & {
                    border: 1px solid $line-gray;
            }
        }

        @include respond-to(large-screens) {
            display: table-header-group;

        }
    }

    th {
        // box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    }

    tr {
        &:nth-child(even) {
            background-color: $off-white;
        }
    }

    td, th {
        padding: .5rem;
        border-right: 2px solid $line-gray;
        display: block;
        width: 100%;

        @include respond-to(large-screens) {
            display: table-cell;
            padding: 1rem;
            width: auto;

        }

        &:first-of-type {
            font-weight: 700;
        }

        &:last-child {
            border-right: none;
        }
    }

    .table-label {
        font-weight: 700;
        @include respond-to(large-screens) {
            display: none;
        }
    }
}


/*
***********************************************************************
* SEARCH RESULTS SORTING
***********************************************************************
**/

.topbar .sortform {

    // .no-js & {
    //     padding: 1rem;

    //     label {
    //         margin-right: 1rem;
    //     }

    //     svg {
    //         display: none;
    //     }
    // }


    position: absolute;
    right: 2rem;
    top: 2px;

    label span {
        @extend .sr-only;
    }

    label {
        padding: 10px 0 0 0;
        cursor: pointer;
        display: inline-block;
    }

    svg.icon {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;

    }

    .active svg.icon {
        fill: $white;
    }

    input[type='radio'] {
        display: none;
    }

}


.button.backtotop {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 4rem;
    z-index: index($layers, modals);
    transition: background .25s ease-in-out;

    &.fixed {
        display: block;

        @include respond-to(large-screens) {
            display: none;
        }
    }

}


.link-list {
    margin: 2rem 0;

    li {
        display: inline;

        & + li:before {
            content: "|";
            color: $link-blue;
            margin: 0 .5rem;
        }
    }
}




