/**
 * File:        _typography.scss
 * Description: _typography.scss contains all text styles for Rijksoverheid makeitso
 * Author:      Sebastiaan Bonardt - @_sebbon
 */



// Gebruikte fonts zijn Open Sans 400, 400i, 600 (semibold, incidentally used), 700 (bold), 800 (extra-bold).
// Geladen via Google fonts


body {
    font-size:100%;
    font-family:$base-font-family;
    color:$baseFontColour;
    line-height: 1.6;
}

h1, h2, h3, h4, h5 {
    color:$baseFontHeaderColour;
    font-family: $base-font-family;
    margin-top:0;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
}

h1, .alpha {
    font-size: 1.5rem; // 24px
    margin-bottom: 2rem; //2.75rem;

    @include respond-to (large-screens) {
        font-size: 2rem; //32px
    }

    .listingpage main & {
        text-transform: uppercase;
        font-size: 1rem;
        margin: 1rem 0 2rem;

        @include respond-to (large-screens) {
            font-size: 1.375rem; //22px
            margin: 2rem 0 3rem;
        }
    }

}

h2, .beta {

    font-size: 1.125rem;

    @include respond-to (medium-screens) {
        font-size: 1.625rem;
    }

    &.subtitle {
        font-weight: 400;
    }

}

h3, .gamma {
    font-size: 1.25rem;
    margin-bottom: .75rem; // taken from height in teaser-twocol. Als nodog, mag deze aangepast.
    color: $medium-gray;

    @include respond-to (large-screens) {
        // font-size: 1.5rem;
    }

    a {
        // color: $link-blue;
        color: $medium-gray; //assumption for whole site, seeing the module restyling
        text-decoration: none;
    }

    .teaser-twocol & {
        color: $medium-gray;
        margin-bottom: .75rem;

        font-weight: 500;
        font-size: 1.375rem;
    }

    .teaser-threecol &,
    .catstream-threecol & {
        font-size: 1rem;
        margin: .75rem 0 0.5rem; //optically even

        @include respond-to (medium-screens) {
            font-size: 1.375rem;
        }
    }

    .icon-threecol &,
    .thumblink-fourcol &,
    .thumblink-fivecol & {
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
        color: $dark-blue;

        @include respond-to (medium-screens) {
            font-size: 1.25rem;
        }
    }

    .calltoaction & {
        margin-bottom: .5rem;
    }

    .speaker-list &,
    .teaser-persons & {
        font-size: 1rem;
        text-align: center;
        padding-top: 1em;
        margin-bottom: 0; // bc toomuch rom under title; check if this doesnt fuck with other stuff

        @include respond-to (large-screens) {
            font-size: 1.25rem;
        }
    }

    .location-list & {
        font-size: 1.125rem;
        color: $light-gray;
        margin-top: 0;
    }


}

h4, .delta {
    font-size: 0.875rem;
    color: $light-gray;
    margin-bottom: 0.8rem;

    footer & {
        font-size: 0.75rem;
        color: $line-gray;
        text-transform: uppercase;

        @include respond-to (medium-screens) {
            font-size: 0.875rem;
        }
    }
}

h5 {
    font-size: 1rem;

    footer & {
        color: $line-gray;
    }
}

h2.widget, h3.widget { //HEADERS IN BANNERS / CALL TO ACTIONS
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: $white;
}

section {
    > h2, //temp
    > .inner-wrap > h2 {
        font-size: 1.125rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        color: $medium-gray;
        text-align: center;
        margin: 2rem 0 .4rem 0;

        @include respond-to (medium-screens) {
            font-size: 1.625rem;
            margin: 4rem 0 .4rem 0;
        }

    }

    &.info-list-section > h2 {
        font-weight: 700;
        text-transform: none;
        letter-spacing: 0;
        text-align: left;
        margin: 0 0 3rem 0;
        padding: 0;

        @include respond-to (medium-screens) {
            font-size: 1.375rem;
        }

        @include respond-to (large-screens) {
            padding: 0 4rem;
        }

        @include respond-to (xlarge-screens) {
            padding: 0 8rem;
        }
    }

    &.teaser-list-section div > h2 {
        font-size: 1.25rem;
        // margin-left: 0rem; // too many exceptions

        @include respond-to (medium-screens) {
            font-size: 1.5rem;
            // margin-left: 2rem;

        }

        @include respond-to (large-screens) {
            // margin-left: 4rem;
        }
    }

    .inner-wrap > p {
        text-align: center;
        // margin: 0 0 3rem 0;
        letter-spacing: -.3px;
        font-size: 0.875rem; // Carlos wants 0.75rem, 2K Think that's too small.

        @include respond-to (medium-screens) {
            font-size: 1rem;
        }
    }

    .inner-wrap p + .items-container,
    .inner-wrap h2 + .items-container {
        margin-top: 3rem;
    }
}


aside {
    .related-content >  h2 {
        font-size: 1.125rem;
        font-weight: 700;
        text-align: left;
        margin: 0 0 2rem;
        letter-spacing: 0;

        @include respond-to (medium-screens) {
            font-size: 1.375rem;
            margin: 0 0 3rem;
        }
    }


}



ul {
    padding:0;
    margin:0;
    list-style: none;
    li {
        padding:0;
        margin:0;
    }
}

.introduction {
    p a,
    ul a,
    ol a {
        text-decoration: underline;
    }

    p {
        font-size: 1.125rem;

        @include respond-to (large-screens){
            font-size: 1.5rem;
        }
    }

    font-size: 1.125rem;

        @include respond-to (large-screens){
            font-size: 1.5rem;
        }
}

.body,
.collapsed-body {
    p a,
    ul a,
    ol a {
        text-decoration: underline;
        color: $link-blue;
    }

    ul {
        list-style: disc outside url('../images/list-dot.svg');
        padding-left: 40px;
    }

    ul li,
    ol li {

        margin-bottom: 1rem;

    }

    p, ul, ol {
    font-size: 0.875rem;

        @include respond-to (medium-screens){
            font-size: 1rem;
        }
    }
}

p {

    font-size: 0.875rem;

    @include respond-to (medium-screens){
        font-size: 1rem;
    }

    .teaser-twocol &,
    .teaser-threecol &,
    .catstream-threecol & {
        color: $medium-gray;
    }

    &.function {
        font-size: 1.125rem;
        font-weight: 700;
        color: $light-gray;
        line-height: 1.4;
    }

    &.company,
    &.country {
        font-size: 1.125rem;
        font-weight: 400;
        color: $light-gray;
        line-height: 1.4;
    }

    &.networklevel {
        font-size: 0.875rem;
        font-weight: 700;
        color: $light-gray;
        line-height: 1.4;
    }

    &.name {
        font-size: 1.125rem;
        font-weight: 700;
        color: $medium-gray;
        line-height: 1.125;

        span {
            font-weight: 400;
            font-size: 0.875em;
        }
    }

}

a {
    color: $link-blue;
    text-decoration: none;

    &:hover, &:active, &.focus {
        text-decoration: underline;
    }

    footer & {
        color: $line-gray;
    }
}

.introduction p, .introduction ul, .introduction ol, .introduction {
    font-family:$base-font-family;
    font-weight: 400;
    color: $medium-gray;
}

.body p, .body ul, .body ol, .body  {
    font-family:$base-font-family;
    font-weight: 400;
}

address {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    //font-size: 0.75rem;
    line-height: 1.6;

    // @include respond-to (medium-screens) {
    //     font-size: 0.875rem;
    // }

    .header-group & {
        font-size: 0.875rem;
        color: $medium-gray;
    }
}

footer {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    color: $white;


    a svg {
        fill: $line-gray;
    }

    a:hover svg,
    a:active svg,
    a:focus svg {
        fill: $white;
    }

}

.footer-block-mission p {

    font-size: 0.875rem;
    font-style: italic;

    @include respond-to (medium-screens) {
        font-size: 1.0625rem;
    }
}

.footer-block-socials {
    text-align: center;

    @include respond-to (large-screens) {
        text-align: left;
    }


    a {
        font-size: 2rem;
        font-style: italic;
        line-height: 1.6;
        color: $line-gray;
        text-decoration: none;

        @include respond-to (medium-screens) {
            font-size: 3rem;
        }
    }

}

.footer-block-moreinfo {
    a {
        color: $white;
        font-size: 1.0625rem;
        font-weight: 700;
    }
}

.img-insert {

    .teaser-twocol & {
        font-size: .75rem;
        color: $medium-gray;

        span {
            color: $black;
        }
    }

}

a {
    &.readmore {
        color: $black;
        font-weight: 700;
        text-align: right;
        display: block;
        text-decoration: none;

        &:hover, &:active, &:focus {
            color: $link-blue;
        }
    }

    &.primary-link {
        color: $baseFirstThemeColour;
        font-weight: 700;
        display: inline-block;
        margin: 1rem 0;
    }

    &.tag,
    &.team {
        font-size: 0.75rem;
        margin-right: .5rem;

        &:last-child {
                margin-right: 0;
            }

        &:hover, &:focus, &:active {
            text-decoration: none;
            border-bottom: 1px dotted $link-blue;
        }

        // @include respond-to(medium-screens) {
        //     font-size: 0.9375rem;
        // }

        .label + & {
            margin-left: .5rem;
        }
    }

    &.phone,
    &.tel {
        color: $medium-gray;
        white-space: nowrap;
    }

    &.email {
       //white-space: nowrap;
    }

    svg {
        margin-right: .5rem;
    }

    &.add-calendar {
        font-size: 0.75rem;

        @include respond-to(medium-screens) {
            font-size: 0.9375rem;
        }

        svg {
            fill: $baseFirstThemeColour;
        }
    }

    &:hover svg,
    &:active svg,
    &:focus svg {
        fill: darken($link-blue, 15%);
    }

}


p.meta {
    font-size: 0.75rem;

    @include respond-to(large-screens) {
        //font-size: 0.875rem;
        font-size: 0.75rem
    }

    span {
        white-space: nowrap;
        display: inline-block;
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 0;
        }

        + span:before {
            content: "|";
            margin-right: 0.5rem;
        }
    }

    span.caldate {
        font-size: 0.875rem;
        margin-top: 1rem;
    }

    svg {
        fill: $light-gray;
        margin-right: .2rem;
    }
}

.card-network,
.card-function {

    span + span:before {
        content: "|";
        margin-right: 0.5rem;
    }
}


svg.icon {
    display: inline-block;
    fill: CurrentColor;
    height: 1.2em;
    width: 1.2em;
    vertical-align: text-bottom;
}

.svg-link {
    svg {
        fill: $baseFirstThemeColour;
    }
}

figcaption,
p.figcaption {
    text-align: center;
    font-size: 0.6875rem;
    font-style: italic;
    border-top: 1px solid $line-gray;
    margin-top: .75rem;
    padding-top: 0.5rem;
    // display: block;

    @include respond-to(large-screens) {
        font-size: 1rem;
        margin-top: 1rem;
        padding-top: 0.75rem;
    }
}

blockquote {
    font-style: italic;
    color: $medium-gray;
    padding: .75rem 1.5rem; //optisch hetzelfde
    border-left: 1px solid $light-gray;
}

p blockquote {
    margin-left: 0;
}



.info, .succes {
    padding: 1rem;
    border: 1px solid #3a945b;
    background: lighten(#3a945b, 40%);
}

.notice {
    padding: 1rem;
    border: 1px solid $link-blue;
    background: lighten($link-blue, 50%);
}

.warning {
    padding: 1rem;
    border: 1px solid #de770f;
    background: lighten(#de770f, 30%);
}


.error {
    padding: 1rem;
    border: 1px solid #de2d0f;
    background: lighten(#de2d0f, 30%);
}

mark {
    background-color: $baseFirstThemeColour;
}

code, pre {
    background-color: $off-white;

    .file-content-module & {
        background-color: $white;
    }
}
