/**
 * File:        _typography.scss
 * Description: _typography.scss contains all text styles for Rijksoverheid makeitso
 * Author:      Sebastiaan Bonardt - @_sebbon
 */



// Gebruikte fonts zijn Open Sans 400, 400i, 700 (bold), 800 (extra-bold).
// Geladen via Google fonts


body {
    font-size:100%;
    font-family:$base-font-family;
    color:$baseFontColour;
    line-height: 1.6;
}

h1, h2, h3, h4, h5 {
    color:$baseFontHeaderColour;
    font-family: $base-font-family;
    margin-top:0;
    font-weight: 700;
    font-style: normal;
    line-height: 1.125;
}

h1, .alpha {
    font-size: 1.5rem; // 24px
    margin-bottom: 2rem; //2.75rem;

    @include respond-to (large-screens) {
        font-size: 2rem; //32px
    }
}

h2, .beta {
    font-size: 1.625rem;

}

h3, .gamma {
    font-size: 1.25rem;
    margin-bottom: .75rem; // taken from height in teaser-twocol. Als nodog, mag deze aangepast.
    color: $medium-gray;

    @include respond-to (large-screens) {
        font-size: 1.5rem;
    }

    a {
        color: $link-blue;
        text-decoration: none;
    }

    .teaser-twocol & {
        color: $dark-blue;
        margin-bottom: .75rem;
    }

    .teaser-threecol &,
    .catstream-threecol & {
        font-size: 1rem;
        margin: .75rem 0 0.5rem; //optically even

        @include respond-to (medium-screens) {
            font-size: 1.375rem;
        }
    }

    .icon-threecol &,
    .thumblink-fourcol & {
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
        color: $dark-blue;

        @include respond-to (medium-screens) {
            font-size: 1.25rem;
        }
    }

    .calltoaction & {
        margin-bottom: .5rem;
    }

    .speaker-list & {
        color: $link-blue;
        font-size: 1rem;
        text-align: center;
        padding-top: 1em;

        @include respond-to (large-screens) {
            font-size: 1.25rem;
        }
    }

    .location-list & {
        font-size: 1.125rem;
        color: $light-gray;
        margin-top: 0;
    }


}

h4, .delta {
    font-size: 0.875rem;
    color: $light-gray;
    margin-bottom: 0.8rem;

    footer & {
        font-size: 0.75rem;
        color: $light-gray;
        text-transform: uppercase;

        @include respond-to (medium-screens) {
            font-size: 0.875rem;
        }
    }
}

h5 {
    font-size: 1rem;
}

h2.widget, h3.widget { //HEADERS IN BANNERS / CALL TO ACTIONS
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: $white;
}

section {
    > h2, //temp
    > .inner-wrap > h2 {
        font-size: 1.125rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        color: $medium-gray;
        text-align: center;
        margin: 0 0 .4rem 0;

        @include respond-to (medium-screens) {
            font-size: 1.625rem;
        }

    }

    &.info-list > h2 {
        font-weight: 700;
        text-transform: none;
        letter-spacing: 0;
        text-align: left;
        margin: 0 0 3rem 0;

        @include respond-to (medium-screens) {
            font-size: 1.375rem;
        }
    }

    .inner-wrap > p {
        text-align: center;
        margin: 0 0 3rem 0;
        letter-spacing: -.3px;
        font-size: 0.875rem; // Carlos wants 0.75rem, 2K Think that's too small.

        @include respond-to (medium-screens) {
            font-size: 1rem;
        }
    }
}

aside {
    > .inner-wrap >h2 {
        font-size: 1.375rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
}



ul {
    padding:0;
    margin:0;
    list-style: none;
    li {
        padding:0;
        margin:0;
    }
}

.introduction {
    p a,
    ul a,
    ol a {
        text-decoration: underline;
    }

    p {
        font-size: 1.125rem;

        @include respond-to (large-screens){
            font-size: 1.5rem;
        }
    }
}

.body {
    p a,
    ul a,
    ol a {
        text-decoration: underline;
    }
}

p {

    font-size: 0.875rem;

    @include respond-to (medium-screens){
        font-size: 1rem;
    }

    .teaser-twocol &,
    .teaser-threecol &,
    .catstream-threecol & {
        color: $medium-gray;
    }

    &.function {
        font-size: 1.125rem;
        font-weight: 700;
        color: $light-gray;
        line-height: 1.125;
    }

    &.name {
        font-size: 1.125rem;
        font-weight: 700;
        color: $medium-gray;
        line-height: 1.125;

        span {
            font-weight: 400;
            font-size: 0.875em;
        }
    }

}

a {
    color: $link-blue;
    text-decoration: none;

    &:hover, &:active, &.focus {
        text-decoration: underline;
    }
}

.introduction p, .introduction ul, .introduction ol, .introduction {
    font-family:$base-font-family;
    font-weight: 400;
    color: $medium-gray;
}

.body p, .body ul, .body ol, .body  {
    font-family:$base-font-family;
    font-weight: 400;
}

address {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    //font-size: 0.75rem;
    line-height: 1.6;

    // @include respond-to (medium-screens) {
    //     font-size: 0.875rem;
    // }
}

footer {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    color: $black;
}

.footer-block-mission p {

    font-size: 0.875rem;
    font-style: italic;

    @include respond-to (medium-screens) {
        font-size: 1.0625rem;
    }
}

.footer-block-socials {
    text-align: center;

    @include respond-to (large-screens) {
        text-align: left;
    }


    a {
        font-size: 2rem;
        font-style: italic;
        line-height: 1.6;
        color: $dark-blue;
        text-decoration: none;

        @include respond-to (medium-screens) {
            font-size: 3rem;
        }
    }

}

.img-insert {

    .teaser-twocol & {
        font-size: .75rem;
        color: $medium-gray;

        span {
            color: $black;
        }
    }

}

a {
    &.readmore {
        color: $black;
        font-weight: 700;
        text-align: right;
        display: block;
        text-decoration: none;

        &:hover, &:active, &:focus {
            color: $link-blue;
        }
    }

    &.primary-link {
        color: $baseFirstThemeColour;
        font-weight: 700;
        display: inline-block;
        margin: 1rem 0;
    }

    &.tag,
    &.team {
        border-bottom: 1px dotted $link-blue;
        font-size: 0.75rem;
        margin-right: .5rem;

        &:last-child {
                margin-right: 0;
            }

        @include respond-to(medium-screens) {
            font-size: 0.9375rem;
        }

        .label + & {
            margin-left: .5rem;
        }
    }

    &.phone {
        color: $medium-gray;
        white-space: nowrap;
    }

    &.email {
       //white-space: nowrap;
    }
}


p.meta {
    font-size: 0.75rem;

    @include respond-to(large-screens) {
        font-size: 0.875rem;
    }

    span {
        white-space: nowrap;
        display: inline-block;
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 0;
        }

        + span:before {
            content: "|";
            margin-right: 0.5rem;
        }
    }

    span.caldate {
        font-size: 0.875rem;
        margin-top: 1rem;
    }

    svg {
        fill: $light-gray;
        margin-right: .2rem;
    }
}


svg.icon {
    display: inline-block;
    fill: #f09;
    fill: CurrentColor;
    height: 1.2em;
    width: 1.2em;
    vertical-align: text-bottom;
}

.svg-link {
    svg {
        fill: $baseFirstThemeColour;
    }
}

figcaption {
    text-align: center;
    font-size: 0.6875rem;
    font-style: italic;
    border-top: 1px solid $line-gray;
    margin-top: .75rem;
    padding-top: 0.5rem;
    // display: block;

    @include respond-to(large-screens) {
        font-size: 1rem;
        margin-top: 1rem;
        padding-top: 0.75rem;
    }
}

