# debug mode will make this process a lot slower
debug_mode: false
# the path for downloads images in hookafterload
image_path: 'zoho_images'
# set image_downloads to true for the hookafterload images
image_downloads: true

remotes:
    zoho:
        enabled: false
        source:
            url: https://crm.zoho.com/crm/private/xml/Contacts/getRecords
            type: xml
            getparams:                # ad any required get-params to the config here
                authtoken: 'insert token here'
                scope: crmapi
            loopparams:
                counter: fromIndex
                stepper: toIndex
                start: 1       # start at this (should be 1)
                size: 200      # number of records to tech per iteration
            # generate a token by going to
            # https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoCRM/crmapi

            ## get params are not needed for file based access
            #file: examples/Contacts-Timothy.xml
            #type: xml
        target:
            contenttype: partners
            defaults:
                new: 'published'       # may also be any valid status
                updated: 'published'   # may also be any valid status
                removed: 'unpublished' # may also be any valid status
            hookafterload:             # magic callbacks to manipulate data after loading it
                # fetch a remote photo from ZOHO based on the CONTACTID
                image:
                    callback: downloadZohoPhotoFromURL
                    source_url: 'https://crm.zoho.com/crm/private/xml/Contacts/downloadPhoto?authtoken=insert token here&scope=crmapi&id=CONTACTID'
                    source_field: CONTACTID
                    target_field: image
                # map a participation level to a structure tree parent for breadcrumbs
                structure_parent:
                    callback: setParentStructure
                    source_url: false
                    source_field: "Participation level"
                    target_field: structure_parent
                sector:
                    callback: flattenArrays
                    source_url: false
                    source_field: sector
                    target_field: sector
            mapping:
                root: 'response.result.Contacts.row'
                                       # mapping root in "jQuery" for json type resources
                # root: '//response/result/Contacts/row'
                                       # mapping root in XPATH for xml type resources
                fields:
                    uid: 'CONTACTID'
                    datecreated: 'Created Time'
                    datechanged: 'Modified Time'
                    first_name: 'First Name'
                    last_name: 'Last Name'
                    org_name: 'Organisation Name'
                    sector: 'Sector'
                    email: 'Email'
                    network: 'Network participation level'
    atom_feed_example:
        enabled: false
        source:
            url: http://example.com/atom
            getparams:
                authtoken: 'a-itis-a-me-a-mario'
                scope: test
                test: test
        target:
            defaults:
                new: 'published'       # may also be any valid status
                updated: 'published'   # may also be any valid status
                removed: 'unpublished' # may also be any valid status
            mapping:
                id: 'feed:entry:id'
                last_modified: 'feed:entry:updated'
                title: 'feed:entry:title'
                body: 'feed:entry:item'
                type: 'feed:entry:category::term'
