# hide symlink to public from git
html

# hide local configs
app/config/*_local.yml
app/config/extensions/*_local.yml

# hide cache files
app/cache/
public/thumbs/

tools/*.sql
tools/*/*.sql
!tools/migration/*.sql


# hide user submitted files
public/files
public/files/

# hide vendor resources
vendor/

# NPM, Gulp and Grunt stuff
node_modules
bower_components
npm-debug.log
.sass-cache

# File-system cruft and temporary files
composer.phar
scrutinizer.phar
php-cs-fixer.phar
.DS_Store
.idea
__*
._*
Vagrantfile
.vagrant*
*.sublime-*
/tags
.*.swp
.swp
.buildpath
.project
/bolt.log


app/config/extensions/menu_backups/
app/config/extensions/hierarchicalroutes/
