{# 
This template is used as a base for all page and listing templates:

#}


{% extends '_base.twig' %}
{% block body %}

<main role="main" class="l-page">
<div class="lc">


{% block main %}
    {# Here be content #}
{% endblock %}


</div>
</main>

{% endblock %}
