{#
Patternlab links:
http://develop.styleguide.eanadev.org/?p=templates-HIM-ListPage-People
#}
{% extends 'listing.twig' %}

{% block list %}
    <div class="team">
        {% set teams = app.config.get('taxonomy/teams/options') %}
        {% for team, teamname in teams %}
            {% setcontent members = 'persons' where { teams: team } %}
            {% if members %}
                {#<h2>{{ teamname }} </h2>#}
                <ul class="results-list cf">
                    {% for item in members %}
                        <li>
                            {% include 'items/_item-intro-person.twig' with { item : item } %}
                        </li>
                    {% endfor %}
                </ul>
             {% endif %}
         {% endfor %}
        {{ pager('', 3, 'items/_item-pagination.twig') }}
    </div>
{% endblock %}

{% block sidebar %}
    {% if record is defined %}
        {% set contacts = record.related('persons') %}
        {% if contacts is defined and contacts is not empty %}
            {% include 'items/_item-help.twig' with { records: contacts } %}
        {% endif %}
    {% else %}
        <!-- no contact for sidebar found -->
    {% endif %}

    {{ menu('subnav-records', 'items/_menu_secondary.twig') }}
{% endblock %}
