{#
Patternlab links:
n/a
#}
{% extends '_base.twig' %}

{% block bodyclass %}page_login{% endblock %}

{% block body %}

    <main role="main" class="l-page">
        <div class="lc">

            <section class="page_intro">
                <h1>Account email address verification</h1>
            </section>

            <section class="login-register section">
                <div class="inner">

                    {% if success %}
                        <p>Your email account has been successfully verified!</p>
                    {% else %}
                        <p>Account verification code is invalid: {{ message }}</p>
                    {% endif %}

                </div>
            </section>

        </div>
    </main>
    <!-- End Main -->

{% endblock %}
