{#
Patternlab links:
http://develop.styleguide.eanadev.org/?p=templates-HIM-login
#}
{% extends '_base.twig' %}

{% block bodyclass %}page_login{% endblock %}

{% block body %}

<main role="main" class="l-page no-sidebar">
    <div class="lc">
        {% if not is_member() %}
            <section class="page_intro">
                <h1>Be part of the Heritage in Motion competition NOW!</h1>
                <p>Create an account, Submit your work, Compete and connect with other culture challengers</p>
            </section>

            <section class="login-register section">
                <div class="inner">
                        {{ members_auth_login('items/_item-login.twig') }}
                        {{ members_profile_register('items/_item-register.twig') }}
                </div>
            </section>

            {% include 'items/_item-social-login.twig' %}
        {% else %}
            <section class="page_intro">
                <p>You are already logged in.</p>
            </section>
        {% endif %}
    </div>
</main>
<!-- End Main -->

{% endblock %}
