<h4 class="title">Powered by:</h4>
<div class="l-grid-media fivecols">
    <div class="gi">
        <div class="block block-thumb">
            <a href="#" class="b-inner">
                <img src="../../images/sample/thumb-square-yosemite.jpg" alt="Square" />
            </a>
        </div>            </div>
    <div class="gi">
        <div class="block block-thumb">
            <a href="#" class="b-inner">
                <img src="../../images/sample/thumb-square-yosemite.jpg" alt="Square" />
            </a>
        </div>            </div>
    <div class="gi">
        <div class="block block-thumb">
            <a href="#" class="b-inner">
                <img src="../../images/sample/thumb-square-yosemite.jpg" alt="Square" />
            </a>
        </div>
    </div>
</div>