<form action="{{ payment_url }}" enctype="text/plain" method="{{ method }}" class="cartform">
    <input type="hidden" id="cart-{{ cart.id }}" name="cartId" value="{{ cart.id }}">
    <button class="submission-status test btn pill action" type="submit">Pay now</button>
</form>
