<div class="social-links">
    <h4 class="title">Find us elsewhere:</h4>

    <a class="icon-social" href="https://www.facebook.com/HeritageinMotion" title="Facebook">
        <svg class="icon icon-facebook">
          <use xlink:href="#icon-facebook"></use>
        </svg>
    </a>

    {# <a class="icon-social" href="https://www.pinterest.com/europeana/" title="Pinterest">
        <svg class="icon icon-pinterest">
          <use xlink:href="#icon-pinterest"></use>
        </svg>
    </a> #}

    <a href="https://twitter.com/HeritageinMotio" title="Twitter">
        <svg class="icon icon-twitter">
          <use xlink:href="#icon-twitter"></use>
        </svg>
    </a>

    {# <a class="icon-social" href="https://plus.google.com/+europeana">
        <svg class="icon icon-googleplus">
          <use xlink:href="#icon-googleplus"></use>
        </svg>
    </a> #}

</div>