{# get current sort option by url param 'order' #}
{% set currentsortoption = app.request.get('order') %}

{# otherwise get default sort option of the contenttype #}
{% if currentsortoption is empty %}
    {# default sort option for stucture content #}
    {% if contenttype['sort'] is defined %}
        {% set currentsortoption = contenttype['sort'] %}
    {# default sort option for bolt lising #}
    {% else %}
        {% set currentsortoption = records|first.contenttype.sort %}
    {% endif %}
{% endif %}


{% set sortoptions = {
    '-datepublish' : 'Date (newest first)',
    'title' : 'Title (A → Z)',
    'datepublish' : 'Date (oldest first)',
    '-title' : 'Title (Z → A)'
    }
%}

<div class="sortby">
    <form>
        <label for="list_sortby">Sort by:</label>
        
        <select id="list_sortby" name="order" onchange="this.form.submit()">
            {% for key, value in sortoptions %}
                {% if key == currentsortoption %}
                    <option value="{{ key }}" selected>{{ value }}</option>
                {% else %}
                    <option value="{{ key}}">{{ value }}</option>
                {% endif %}
            {% endfor %}
            
        </select>
    </form>
</div>

