{#
    works with jquery plugin "minRead" - init in init.js
#}
{% if record %}
    <span class="read-time"></span>
{% endif %}
{# FYI - this functionality is already in PRO; might need tweaking or customization though ^AW #}
