{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
    aliquid atque blanditiis culpa cum cupiditate deleniti dolor error
    esse eveniet excepturi ipsum iusto molestiae non, nulla qui
    repellendus sed ullam.</p>

{% endblock page_main %}
