templates:
    apikeyform: apikeyform.twig
    thankspage: thankspage.twig
form:
    fields:
        email:
            label: Email address
            placeholder: Enter your email address
            type: email
            required: true
        firstName:
            label: First Name
            placeholder: Enter your first name
            type: text
            required: true
        lastName:
            label: Last Name
            placeholder: Enter your last name
            type: text
            required: true
        company:
            label: Organisation
            placeholder: Please enter the organization name in English
            type: text
            required: false
    submit:
        label: Request key
credentials:
    base_uri: http://europeana.eu/api/
    login_url: http://europeana.eu/api/login.do
    destination: http://europeana.eu/api/apikey
    fields:
        j_username: 'insert username token here'
        j_password: 'insert passowrd token here'
