{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'body':      body of the module
    'records':   array of (selected) records that belong to the module
#}

<section class="group">
{% for record in records %}
    {% if record.id is defined %}

        {% include "views/_banner.twig" with { layoutclass : 'third' } %}

    {% endif %}
{% endfor %}
</section>