{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'body':      body of the module
    'records':   array of (selected) records that belong to the module
#}
{% set override_css_class = module.get('override_css_class')|default('') %}

<section class="group {%- if override_css_class %} {{ override_css_class }}{% endif -%}">
{% for record in records %}
    {% if record.id is defined %}

        {% include "views/_banner.twig" with { layoutclass : '' } %}

    {% endif %}
{% endfor %}
</section>