<section class="group">
{% for record in records %}
    {% if record.id is defined %}

        {% include "views/_breaker.twig" with { layoutclass : '' } %}

    {% endif %}
{% endfor %}
</section>


