{% set override_css_id = module.get('override_css_id') %}
{% set override_css_class = module.get('override_css_class') %}

<section {% if override_css_id %}id="{{ override_css_id }}"{% endif %} class="group {%- if override_css_class %} {{ override_css_class }}{% endif -%}">
{% for record in records %}
    {% if record.id is defined %}

        {% include "views/_breaker.twig" with { layoutclass : '' } %}

    {% endif %}
{% endfor %}
</section>


