{% spaceless %}
{% set template = 'related' %}
{% endspaceless %}

{% if record.related() is not empty %}
    {# get the manually set related records #}
    {% set relatedrecords = record.related()|shuffle %}
{% elseif
    (record.taxonomy.categories is defined and record.taxonomy.categories is not empty)
    or (record.taxonomy.tags is defined and record.taxonomy.tags is not empty) %}
    {# get the automatically related records by category  - extension #}
    {% set relatedrecords = relatedcontent(record)|shuffle %}
{% else %}
    <!-- No tags, no categories, so no related items -->
    {% set relatedrecords = false %}
{% endif %}


{% if (relatedrecords is defined) and (relatedrecords is not empty) and relatedrecords is iterable %}
<section class="related-content">
    <h2>{{ title|default('Related content') }}</h2>

    <div class="teaser-container">

        {% for record in relatedrecords if record.contenttype.slug != 'persons' %}
            {% if loop.index <= 3 %}
                {% set templatefile =  'views/_' ~  template ~ '_' ~ record.contenttype.slug ~ '.twig' %}
                {% set defaulttemplatefile =  'views/_' ~  template ~ '.twig' %}
                <!-- loading templatefile for record: '{{ templatefile }}' or '{{ defaulttemplatefile }}' or 'views/_fallback.twig' -->
                {% include [templatefile, defaulttemplatefile, 'views/_fallback.twig'] with { item: record, template: template } %}
            {% else %}
                <!-- selected record is unpublished or otherwise unavailable -->
            {% endif %}
        {% endfor %}

    </div>
</section>

{% endif %}


