{% spaceless %}
{% set template = 'related' %}
{% endspaceless %}


{% if record.related() is not empty %}
    {# get the manually set related records #}
    {% set records = record.related()|shuffle %}
{% elseif record.taxonomy.categories is defined %}
    {# FIXME Extensie is nog stuk #}
    {# {% set records = relatedcontent(record) %} #}

    {# get the automatically related records by category #}
    {% setcontent records = record.contenttype.slug where { categories : record.taxonomy.categories|join(' || ') } %}
{% endif %}

{% if (records is defined) and (records is not empty) %}

<section class="related-content">
    <h2>{{ title|default('Related content') }}</h2>

    <div class="teaser-container">

    {% if records is iterable %}
        {% for record in records if record.contenttype.slug != 'persons' %}
            {% if loop.index <= 3 %}
                {% set templatefile =  'views/_' ~  template ~ '_' ~ record.contenttype.slug ~ '.twig' %}
                {% set defaulttemplatefile =  'views/_' ~  template ~ '.twig' %}
                <!-- loading templatefile for record: '{{ templatefile }}' or '{{ defaulttemplatefile }}' or 'views/_fallback.twig' -->
                {% include [templatefile, defaulttemplatefile, 'views/_fallback.twig'] with { item: record, template: template } %}
            {% else %}
                <!-- selected record is unpublished or otherwise unavailable -->
            {% endif %}
        {% endfor %}
    {% endif %}

    </div>
</section>

{% endif %}


