{# Section breakers - Call to action FULL #}
<div class="calltoactionform">
    <div class="colored-image"
        {% if record.image is not empty %}
            style="background-image: url({{ image(record.image, 900, 90)|default('notfound') }})"
        {% else %}
            style="background-image: url({{ image('web_assets/default.png', 900, 90)}}"
        {% endif %}
    ></div>

    <h3 class="widget">{{ record.title }}</h3>


    <form action="//europeana.us3.list-manage.com/subscribe/post?u=ad318b7566f97eccc895e014e&amp;id=6741190c56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <label for="email-signup" class="sr-only">E-mail address</label>
        {% spaceless %}
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

           <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ad318b7566f97eccc895e014e_6741190c56" tabindex="-1" value=""></div>

            <button type="submit" class="button">
                <svg class="icon icon-check">
                    <use xlink:href="#icon-check"></use>
                </svg>
                <span class="sr-only">{{ record.buttontext|default('Submit') }}</span>
            </button>
        {% endspaceless %}
    </form>

</div>
