{# {% block bodyclass 'contentpage' %} #}

    <section>
        <div class="inner-wrap">

            <article class="column main-column">


                {% include 'partials/_community-info.twig' %}
                {% include 'partials/_side-info.twig' %}

                {% include 'partials/_header-group.twig' %}

                {% include 'partials/_event-figure.twig' %}

                <div class="body">
                    {{ record.body }}
                </div>

                {% if record.button_link is defined and record.button_link is not empty %}
                    {% include 'partials/_record_cta.twig' %}
                {% endif %}

            </article>

       </div>
    </section>

    {% set speakers = record.related('persons') %}
    {% if speakers|length > 0 %}
        {% include 'partials/_list-speaker-list.twig' with { title : 'Speakers for this event', items : speakers , speaker : true } %}
    {% endif %}

    {% for module in record.modules if (global.request.get('_route') != "preview") %}
        {{ include('partials/_default_module.twig', { 'module': module }) }}
    {% endfor %}

    <aside>
        <div class="inner-wrap">

            {# AUTHOR BIG #}
            {% include 'modules/_teaser_author.twig' with { record : record } %}

            {# RELATED CONTENT #}
            {% include 'modules/_related_posts.twig' with { record : record, title : 'Related' } %}

        </div>
    </aside>

