<section class="image-gallery-section">
    {% for image in record.imagegallery %}
    <figure>
        <img class="main-img" src="{{ image|thumbnail(1240, 600, 'c') }}" alt="{{ image.title }}" />

        {% if image.title is defined %}
            <figcaption>
                {{ image.title }}
            </figcaption>
        {% endif %}

    </figure>
    {% endfor %}
</section>
