{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="fifth">
    <div class="img-container">

        {% if item.values.image is defined and item.values.image.file|default is not empty %}
            {# LOGO #}
            <img class="logo-img" src="{{ item.values.image|thumbnail(600,400,'r')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image.oembed|default is not empty %}
            <div class="is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 600, height: 400} %}
            </div>
        {% else %}
             <img class="logo-img" src="{{ 'web_assets/default.png'|thumbnail(600,400,'r')}}" alt="{{ item.title }}"/>
        {% endif %}

    </div>



</article>
