<div class="author-small group">
    {% if record.image %}
    <img class="round" src="{{ record.image|thumbnail(72, 72, 'c') }}" alt=""/>
    {% else %}
     <img class="round" src="{{ 'web_assets/default.png'|thumbnail(72, 72, 'c') }}" alt=""/>
    {% endif %}
    <span class="letter-overlay">{{ record.contact_name|first }}</span>
    <p class="name">{{ record.contact_name }}</p>
</div>