<article class="teaser teaser-download group">
    <div class="img-container">
        <img src="https://unsplash.it/600/400" alt="alt"/>

        <div class="info-block">
           <span class="info-date">Created: 19 december 2017</span>
            <span class="info-author">
                By: <a href="#">Stevie Nicks</a>
            </span>
            <a class="info-action">
                <svg class="icon icon-calendar">
                    <use xlink:href="#icon-calendar"></use>
                </svg>Download
            </a>
        </div>

    </div>

    <h2>Important whitepaper downloadable.pdf</h2>

    {% include 'partials/_tags.twig' %}

    <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
    <div class="actions-footer">

       <span class="read-time">10 minutes to read</span>
       <a class="readmore">
            Call to action
        </a>

    </div>

</article>