{% if item is not defined %}
    {% set item = record %}
{% endif %}

{% if item.taxonomy.communities is defined %}
    {% for cmt in item.taxonomy.communities %}
    <div class="community-info">
        {{ cmt }}
    </div>
    {% endfor %}
{% endif %}


