<!-- Header bar -->
{# the values in the 'app.config' object are taken directly from the file app/config/config.yml #}
<section class="contentheader">
    <nav class="quicklinks">
        <ul>
            <li><a href="/page/who-we-are">Who we are</a></li>
            <li><a href="/page/what-we-do">What we do</a></li>
            <li><a href="/page/main-services">Main services</a></li>
        </ul>
    </nav>

    <div class="inner-wrap">
        <div class="highlight-bar">
            <h2>Latest publications</h2>
            <ul class="group">
                <li>
                    <a>
                        <img src="https://unsplash.it/90/78" alt="xx"/>
                        Benchmarking Europeana against other web services
                    </a>
                </li>
                <li>
                    <a>
                        <img src="https://unsplash.it/90/78" alt="xx"/>
                        Workers Underground: an impact assessment
                    </a>
                </li>
                <li>
                    <a>
                        <img src="https://unsplash.it/90/78" alt="xx"/>
                        Benchmarking Europeana
                    </a>
                </li>
            </ul>
            <a class="readmore" href="#">More</a>
        </div>
    </div>

</section>
