{# INFO LIST #}
<ul class="info-list speaker-list">

{% for item in items %}

    <li>
    {# PERSON #}
        {% include 'views/_teaser_persons.twig' with { item:item} %}
    </li>

{% endfor %}

</ul>
