{#
Avaliable variables
    'module': the full module object
    'title': title of the module
    'body': body of the module
    'records': array of (selected) records that belong to the module
#}
<h2>{{ title }}</h2>
{{ body|raw }}

{% if records is iterable %}
    {% set template = module.get('templates') %}
    {% for record in records %}
        {% if record.id is defined %}
            {% set templatefile =  'views/_' ~  template ~ '_' ~ record.contenttype.slug ~ '.twig' %}
            {% set defaulttemplatefile =  'views/_' ~  template ~ '.twig' %}
            {% include [templatefile, defaulttemplatefile, 'views/_fallback.twig'] with {record:record} %}
        {% else %}
            <!-- selected record is unpublished or otherwise unavailable -->
        {% endif %}
    {% endfor %}
{% endif %}
