/*
 * File:        _base.scss
 * Description: This base file contains all project VARIABLES and (custom) mixins
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

/*
 * Wesbite settings
 */
$base-font-family: "Open Sans", Arial, Sans-serif;


/* Europeana colours */
$black:             #1a1a1a;
$medium-gray:       #4d4d4d;
$light-gray:        #777777;
$line-gray:         #cccccc;
$footer-gray:       #e7e7e7;
$white:             #fff;
$yellow:            #ffae00;
$off-white:         #f1f1ee;
$collections-blue:  #1a8ac7;
$link-blue:         #095f90;
$dark-blue:         #293745;

$opacity-black: rgba(0,0,0,0.7);
$opacity-white: rgba(255,255,255,0.75);

$pinterest-red:     #b81621;
$googleplus-red:    #e93f2e;
$twitter-blue:      #35ccff;
$facebook-blue:     #03539e;


/* Theme colors */
$baseFontColour: $black; //$medium-gray;
$baseFontHeaderColour: $medium-gray;
$baseLinkColour: $link-blue;

$baseFirstThemeColour:  #E11D53; // pro - theme magenta
$baseSecondThemeColour: #37B98B; // labs - theme green
$baseThirdThemeColour:  #7F3978; //research - theme purple


$version-flag:          #D43900; // only used for beta flag
$quicklinks-bar:         #69737C;


/*
 * Mixin: Breakpoints handling RWD
 */

/* Media Query Breakpoints in px */
// $break-midmobile: 400;
$break-small: 100;
$break-medium: 384;
$break-large: 767;
$break-xlarge: 1280;
$break-wide: 1440;
$break-xwide: 1600;
// $break-xxwide: 1600;
// $break-r-u-insane: 1840;

/* seperate menu breakpoints */
$break-menumedium: 744; //not used
$break-menufull: 960; // full menu

$site-max-width:76rem; // 1216px

@mixin respond-to($media) {
    // @if $media == midmobile {
    //     @media only screen and (min-width: ($break-midmobile / 16) + 'em') {
    //        @content;
    //     }
    // }
    @if $media == small-screens {
        @media only screen and (min-width: ($break-small / 16) + 'em') {
           @content;
        }
    }
    @if $media == medium-screens {
        @media only screen and (min-width: ($break-medium / 16) + 'em') {
           @content;
        }
    }
    @if $media == large-screens {
        @media only screen and (min-width: ($break-large / 16) + 'em') {
           @content;
        }
    }
    @if $media == up-to-large-screens {
        @media only screen and (max-width: (($break-large - 1) / 16) + 'em') {
           @content;
        }
    }
    @if $media == xlarge-screens {
        @media only screen and (min-width: ($break-xlarge / 16) + 'em') {
           @content;
        }
    }
    @if $media == wide-screens {
        @media only screen and (min-width: ($break-wide / 16) + 'em') {
           @content;
        }
    }
    @if $media == xwide-screens {
        @media only screen and (min-width: ($break-xwide / 16) + 'em') {
           @content;
        }
    }
    // @if $media == xxwide-screens {
    //     @media only screen and (min-width: ($break-xxwide / 16) + 'em') {
    //        @content;
    //     }
    // }
    // @if $media == r-u-insane {
    //     @media only screen and (min-width: ($break-r-u-insane / 16) + 'em') {
    //        @content;
    //     }
    // }
    @if $media == menu-medium {
        // custom menu-breakpoint 2: items full, search collapsed
        @media only screen and (min-width: ($break-menumedium / 16) + 'em') {
           @content;
        }
    }
    @if $media == menu-full {
        // custom menu-breakpoint : items full, search full
        @media only screen and (min-width: ($break-menufull / 16) + 'em') {
           @content;
        }
    }



}


// Mixin: REM to Px
@function remToPx($number) {
    @return #{$number}rem;
}

%clearfix, %group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
*   Helper
*/

// /***********************************************
// HULPJE
// ***********************************************/



// footer {

//     &:after {
//             content: "content";
//             display: block;
//             height: 16px;
//             position: fixed;
//             bottom: 0;
//             left: 0;
//             z-index: 1000;
//             width: 100%;
//             text-align: center;
//             font-size: 12px;

//         }

//     @include respond-to(small-screens){
//         &:after {
//             content: "small-screens";
//             background-color: #0f9;
//         }
//     }

//     @include respond-to(medium-screens) {
//             &:after {
//                 content: "medium-screens";
//                 background-color: #f06;
//         }
//     }

//     @include respond-to(large-screens) {
//         &:after {
//             content: "large-screens";
//             background-color: #90f;
//         }
//     }

//     @include respond-to(xlarge-screens) {
//         &:after {
//             content: "xlarge-screens";
//             background-color: #903;
//         }
//     }

//     @include respond-to(wide-screens) {
//         &:after {
//             content: "wide-screens";
//             background-color: #906;
//         }
//     }
// }
