// SPLASHPAGE 10 years Europeana Pro

@import "lib/_magnific-popup.scss";

/* separate breakpoint for this splash: 560px */
@media only screen and (min-width: 35em) {
// here be stuff for the big screen
}

/* splashpage colors */
$bizblack:             #231F20;
$bizdarkgrey:          #595959;


.splashpage-bizplan2019 {

    header {
        background-color: $white;
        padding: 1rem;

        @include respond-to(large-screens) {
            display: flex;
            align-content: center;
            align-items: center;
        }

        .mainlogo {
            // width: 100%;
            padding-left: 0;
            margin: 0 auto;
            text-align: center;
            width: 165px;

            @include respond-to(large-screens) {
                width: 165px;
                margin: 0 1rem 0 0;
            }

            img {
                width: 165px;
                height: auto;
            }

            h1 {

            }

        }

        nav {
            padding: 0;
            margin-top: 1.5rem;
            // background: #f70;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            @media only screen and (min-width: 420px) {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            @include respond-to(large-screens) {
                flex-grow: 1;
                padding-left: 1.5rem;
                margin-top: 0;
                justify-content: flex-start;
            }


            ul {
                // background: #f07;
                margin-bottom: 1rem;
                @media only screen and (min-width: 420px) {
                    margin-bottom: 0;
                    flex: 1; //magic thingy to prevent this element from being too wide

                }
            }

            li {
                padding: 1rem 1rem 0 0;
                display: inline-block;
                font-size: .875rem;

                &:first-child {
                    padding-right: 1rem;
                }

                @media only screen and (min-width: 420px) {
                    font-size: 1rem;
                }
            }

            a {
                font-weight: 700;
                color: $black;
            }

            a.button {
                padding: .5rem 1rem;
                margin-left: auto;

                @include respond-to(large-screens) {
                    padding: 1rem;
                }

            }
        }

    }


    .wheel-section {
        // background: $white;
        background: $paper url('../images/splash_bizplan2019/decahedron_background_pattern.png');
        background-size: 23px 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7.5rem 1rem;
        width: 100%;

            // -ms-flex-pack: center;
            // -ms-flex-align:center;
            // flex: 1;

        // > 560px
        @media only screen and (min-width: 35em) {
            padding: 7.5rem 0;
            width: 100%;
        }

        .poly { //modern browsers
            position: absolute;
            max-width: 96%;
            clip-path: polygon(
                34.54915% 2.44717%,
                65.45085% 2.44717%,
                90.45085% 20.61074%,
                100% 50%,
                90.45085% 79.38926%,
                65.45085% 97.55283%,
                34.54915% 97.55283%,
                9.54915% 79.38926%,
                0% 50%,
                9.54915% 20.61074%
                );

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display:none; //IE11
            }
            @supports (position:-ms-page) {
                display:none; //EDGE
            }
        }

        .non-poly { // Edge en IE
            display:none;
            position: absolute;
            max-width: 96%;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display:block; //IE11
                -ms-transform: translateY(-50%) translateX(-2.42%);
            }
            @supports (position:-ms-page) {
                display:block; //EDGE
            }
        }


        .wheel-container {
            max-width: 530px;
            max-height: 530px;
            width: 100%;
            height: 100%;

            // > 560px
            @media only screen and (min-width: 35em) {

            }
        }

        .wheel {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            // background: #f09;

            // > 560px
            @media only screen and (min-width: 35em) {

            }

        }

        .center {
            width: 86%;
            height: 86%;
            top: 7.358%;
            left: 7%;
            border-radius: 50%;
            background: rgba($white,0.84);
            position: absolute;
            z-index: 3;
            text-align: center;

            clip-path: circle(50% at center); // prevent deadzones on hover

            // > 560px
            @media only screen and (min-width: 35em) {
                top: 39px; //optical
                left: 7%;
                width: 86%;
                height: 86%;
            }
        }

        h1 {
            width: 60%;
            margin: 22vw auto 0;
            color: $baseFirstThemeColour;
            text-transform: uppercase;
            letter-spacing: .3px;

            font-size: 4vw;
            font-weight: 500;
            text-align: left;

            @media only screen and (min-width: 35em) {
                margin-top: 130px; //optical
                font-size: 1.56rem;
                width: 280px;
                // background: #f60;
            }

        }

        .slogan {
            width: 60%;
            margin: 6.67vw auto;
            font-size: 6vw;
            font-weight: 800;
            text-align: left;
            line-height: 1.2;
            color: $bizblack;

            // > 560px
            @media only screen and (min-width: 35em) {
                font-size: 2.3rem;
                width: 280px;
                margin-top: 2.5rem;
                // background: #f09;
            }
        }


        article {
            .handle { //the form thingie that gets hovered!
                transform-origin: bottom center;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 34%;  //why?
                // width: 32%;
                height: 50%;
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                // background: rgba(#f09, 0.2);

                @media only screen and (min-width: 35em) {
                    display: block;
                    width: 170px;
                    height: 265px;
                }

                &.handle-1 {
                    transform: rotate(0deg);
                }
                &.handle-2 {
                    transform: rotate(36deg);
                }
                &.handle-3 {
                    transform: rotate(72deg);
                }
                &.handle-4 {
                    transform: rotate(108deg);
                }
                &.handle-5 {
                    transform: rotate(144deg);
                }
                &.handle-6 {
                    transform: rotate(180deg);
                }
                &.handle-7 {
                    transform: rotate(216deg);
                }
                &.handle-8 {
                    transform: rotate(252deg);
                }
                &.handle-9 {
                    transform: rotate(288deg);
                }
                &.handle-10 {
                    transform: rotate(324deg);
                }
            }

            > .center { //all other centers
                display: none;
                padding-top: 60px; //optical

                text-align: center;
                background: $baseFirstThemeColour;
                color: $white;
            }

            svg.icon {
                fill: $white;
                width: 125px;
                height: 125px;
                margin-bottom: 3vw;
            }

            h3.title {
                color: $white;
                font-size: 1.25rem;
                text-transform: uppercase;
                font-weight: 300;
                margin-bottom: 3vw;
            }

            .teaser {
                font-size: 3vw; //responsive font size
                line-height: 1.6;
                width: 40%;
                margin: 1rem auto 0;
                a {
                    color: $white;

                    &:hover, &:active, &:focus {
                        color: $bizblack;
                    }
                }

                @media only screen and (min-width: 35em) {
                    font-size: 0.75rem;
                }
            }

            .cta {
                font-size: .75rem;
                position: absolute;
                bottom: 1rem;

                left: 50%;
                width: 200px;
                margin-left: -100px;
            }

            &.highlight {
                .handle {
                    background: $baseFirstThemeColour;
                }
            }

        }
    }


    section.report-highlights {
        background: $white;
        background-size: 35px 24px;


        h2 {
            text-transform: none;
            color: $baseFirstThemeColour;
            font-weight: 300;
            font-size: 1.5rem;
            text-align: left;
            padding: 0 1rem;

            @include respond-to(medium-screens) {
                font-size: 2rem;
            }

            @include respond-to(large-screens) {
                font-size: 3rem;
            }
        }

        h3 {
            color: $bizblack;
            font-size: 1.175rem;
            font-weight: 600;
            margin-bottom: .2rem;
        }
        p.teaser {
            color: $bizdarkgrey;
            font-size: 0.83rem;
            margin-top: 0;
        }

        svg.icon {
            height: 80px;
            width: 80px; // anders wordt ie vreemd groot. TODO: nog oplossen.
            margin: 0;
            fill: $bizdarkgrey;
        }

    }

    footer {
        margin-top: 0;

        .sub-footer {
            margin-top: 2rem;
        }

        .copyright {
            @include respond-to(large-screens) {
                float: left;
            }
        }

        .eu-disclaimer {
            @include respond-to(large-screens) {
                float: right;
                max-width: 700px;
                width: 56%; //optical
            }

        }
    }
}

