{% if item is not defined %}
    {% set item = record %}
{% endif %}


{% if (item.start_event is not empty) and (item.end_event is not empty) %}
{# when no times, we make no add to calendar blokkie #}

{% set icslink =
'data:text/calendar;
charset=utf8,
BEGIN:VCALENDAR%0A
VERSION:2.0%0A
BEGIN:VEVENT%0A
URL:'~paths.host~''~item.link()~'%0A
DTSTART:'~item.start_event|localedatetime("%Y%m%dT%H%M%S")~'%0A
DTEND:'~item.end_event|localedatetime("%Y%m%dT%H%M%S")~'%0A
SUMMARY:'~item.title~'%0A
LOCATION:'~item.geolocation.address|default("No location given")~'%0A
END:VEVENT%0A
END:VCALENDAR'
%}

{% elseif singledate is not empty %}

{% set icslink =
'data:text/calendar;
charset=utf8,
BEGIN:VCALENDAR%0A
VERSION:2.0%0A
BEGIN:VEVENT%0A
URL:'~paths.host~''~item.link()~'%0A
DTSTART:'~singledate|localedatetime("%Y%m%d")~'%0A
SUMMARY:'~item.title~'%0A
LOCATION:'~item.geolocation.address|default("No location given")~'%0A
END:VEVENT%0A
END:VCALENDAR'
%}

{% endif %}

{% if icslink is not empty %}

<a class="add-calendar" href="{{ icslink }}">
    <svg class="icon icon-calendar">
        <use xlink:href="#icon-calendar"></use>
    </svg>
    Add to calendar
</a>

{% endif %}
