NOTE - Not used in cope def theme - Anke 10 mei 2017

<!-- Sidebar -->
<aside>
    {%- for ct in app.config.contenttypes if not ct.viewless|default(false) -%}
        {%- setcontent records = ct.slug ~ "/latest/3" -%}
        <h5>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h5>
        <ul>{% for record in records %}
            <li> {% include 'partials/_view_title.twig' with {record: record} %}</li>
        {% else -%}
            <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
        {% endfor %}</ul>
        <p><a href="{{ path('contentlisting', {'contenttypeslug': ct.slug}) }}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>
    {%- endfor -%}
</aside>
<!-- End Sidebar -->
