{# AUTHOR #}

<section class="author-big column">
    <div class="img-container">
        <img class="round" src="https://unsplash.it/144/144" alt="name"/>
    </div>
    <div class="txt-container">
        <p class="name"><span>Created by</span> Victor-Jan Vos</p>
        <p class="function">Head of programmes, policy & research</p>
        <p>At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing.</p>
        <div class="contact">
            <a href="#" class="tw">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
                <span class="sr-only">Twitter</span>
            </a>
            <a href="#" class="tw">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
                <span class="sr-only">LinkedIn</span>
            </a>
            <a href="#" class="email">Victor-jan.vos@europeana.eu</a>
            <a href="#" class="phone">+31 70 32 45 678</a>
        </div>
    </div>
</section>
