{# Not usead as partial, this is a statis version without any twig tags. delete? - aw #}

{# COLLAPSED CONTENT #}

    <section class="file-browser file-content-module">
        <div class="collapse-header">
            <p class="content-kind">
                <svg class="icon icon-folder">
                    <use xlink:href="#icon-folder"></use>
                </svg>
                <span>Collapsed content</span>
            </p>

            <h3>AGM documentation</h3>
            <a href="#">
                <svg class="icon icon-navigate-up">
                    <use xlink:href="#icon-navigate-up"></use>
                </svg>
                <span class="sr-only">Open folder</span>
            </a>
        </div>
        <div class="collapse-content">
            <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
        </div>
    </section>


     {# FILE CONTENT MODULE / COLLAPSED CONTENT #}

    <section class="file-browser file-content-module">
        <div class="collapse-header">
            <p class="content-kind">
                <svg class="icon icon-folder">
                    <use xlink:href="#icon-folder"></use>
                </svg>
                <span>Folder</span>
            </p>

            <h3>AGM documentation</h3>
            <a href="#">
                <svg class="icon icon-arrow-up">
                    <use xlink:href="#icon-arrow-up"></use>
                </svg>
                <span class="sr-only">Open folder</span>
            </a>
        </div>
        <ul class="">
            <li class="collapse-content has-sublist">
                <a href="#">
                    <svg class="icon icon-document">
                        <use xlink:href="#icon-folder"></use>
                    </svg>
                    Council Conclusions Europeana Strategy Staff
                </a>


                <ul class="sublist">
                    <li class="">
                        <a href="#">
                        <svg class="icon icon-file">
                            <use xlink:href="#icon-file"></use>
                        </svg>

                            Council Conclusions Europeana Strategy Staff
                            <div class="meta">
                                <span class="filesize">2.5 MB</span>
                                <span class="date-added">Added 12/25/16</span>
                            </div>

                        </a>
                    </li>

                    <li class="">
                        <a href="#">
                        <svg class="icon icon-file">
                            <use xlink:href="#icon-file"></use>
                        </svg>

                            Council Conclusions Europeana Strategy Staff
                            <div class="meta">
                                <span class="filesize">2.5 MB</span>
                                <span class="date-added">Added 12/25/16</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="collapse-content">

                <a href="#">
                    <svg class="icon icon-document">
                        <use xlink:href="#icon-document"></use>
                    </svg>
                    Council Conclusions Europeana Strategy Staff

                </a>
            </li>

            <li class="collapse-content">
                <a href="#">
                    <svg class="icon icon-document">
                        <use xlink:href="#icon-document"></use>
                    </svg>
                    Council Conclusions Europeana Strategy Staff

                </a>
            </li>
        </ul>
    </section>