<!-- Header bar -->
{# the values in the 'app.config' object are taken directly from the file app/config/config.yml #}
<section class="contentheader">
    <nav class="quicklinks">
        <ul>
            <li class="in-page-blank-link"><a>&nbsp;</a></li>
            {# at least one empty link is needed for the layout at the moment #}
        </ul>
    </nav>


    {# Show highlightbar on homepage and pages of type landingpage #}
    {% if app.request.get('_route') == 'homepage'
       or ( record is defined and record.pagetype is not empty and record.pagetype == 'landingpage' )
    %}
        {% set module = {} %}
        {% set template = 'highlightbar' %}
        {% set templatefile = 'modules/_' ~ template ~ '.twig' %}
        {% set title = record.highlighttitle|default('') %}
        {% set subtitle = '' %}
        {% set body = '' %}
        {% set sources = record.highlightsources|default('posts') %}
        {% if (sources == 'posts' and title == 'Latest Publications') %}
            {% set filtername = 'posttype' %}
            {% set filtervalue = module.get('filter_posts')|default('publication') %}
        {% elseif sources == 'posts' and title == 'Latest Pressreleases' %}
            {% set filtername = 'posttype' %}
            {% set filtervalue = module.get('filter_posts')|default('pressrelease') %}
        {% elseif sources == 'posts' and title == 'Latest Blogs' %}
            {% set filtername = 'posttype' %}
            {% set filtervalue = module.get('filter_posts')|default('blog') %}
        {% else %}
            {% if app.request.get('_route') == 'homepage'  %}
                {% set title = 'Latest posts' %}
            {% endif %}
            {% set filtername = 1 %}
            {% set filtervalue = 1 %}
        {% endif %}
        {% set override_amount = module.get('override_amount')|default(3) %}
        {% set allow_pager = false %}
        {% setcontent selected_records = sources where {(filtername): (filtervalue)} orderby '-datepublish' limit override_amount %}
        {% include [templatefile, 'modules/_default.twig'] with {
            'module': module,
            'record': record|default(),
            'title': title,
            'body': body,
            'records': selected_records,
            'allow_pager': allow_pager
        } %}
    {% endif %}

</section>
