<!-- Header bar -->
{# the values in the 'app.config' object are taken directly from the file app/config/config.yml #}
<div class="topbar" id="topbar">
    {# Show filtering on listings #}
    {% if record is not defined and search is not defined
       or ( record is defined
            and record.pagetype is defined
            and record.pagetype is not empty
            and record.pagetype == 'listing'
       )
    %}
        {% include '/partials/_filter-listing.twig' %}
    {% else %}
        <nav class="quicklinks">
            <ul>
                <li class="in-page-blank-link"><a>&nbsp;</a></li>
                {# at least one empty link is needed for the layout at the moment #}
            </ul>
        </nav>
    {% endif %}

    {% if search is defined and search is not empty %}
        {% include 'partials/_sort-listing.twig' %}
    {% endif %}
</div>

<section class="contentheader">
    {# Show highlightbar on homepage and pages of type landingpage #}
    {% if (app.request.get('_route') is defined and app.request.get('_route') == 'homepage')
       or ( record is defined
            and record.pagetype is defined
            and record.pagetype is not empty
            and record.pagetype == 'landingpage'
       )
    %}
        {% set module = {} %}
        {% set template = 'highlightbar' %}
        {% set templatefile = 'modules/_' ~ template ~ '.twig' %}
        {% set title = record.highlighttitle|default('') %}
        {% set subtitle = '' %}
        {% set body = '' %}
        {% set sources = record.highlightsources|default('posts') %}

        {# filter subtypes #}
        {% set filtername = 1 %}
        {% set filtervalue = 1 %}
        {% if record.highlightsubtype|default() is not empty %}
            {% if sources == 'posts'  %}
                {% set filtername = 'posttype' %}
                {% set filtervalue = record.highlightsubtype  %}
            {% elseif sources == 'persons'   %}
                {% set filtername = 'network_participation' %}
                {% set filtervalue = record.highlightsubtype %}
            {% elseif sources == 'projects' %}
                {% set filtername = 'projecttype' %}
                {% set filtervalue = record.highlightsubtype %}
            {% elseif sources == 'data' %}
                {% set filtername = 'datatype' %}
                {% set filtervalue = record.highlightsubtype %}
            {% endif %}
        {% else %}
            {% if app.request.get('_route') == 'homepage' and title == '' %}
                {% set title = 'Latest posts' %}
            {% endif %}
        {% endif %}

        {# filter taxonomies #}
        {% set taxonomyname = 1 %}
        {% set taxonomyterm = 1 %}
        {% if record.highlightcategory|default() is not empty %}
            {% set taxonomyterm = ''~(record.highlightcategory) %}
            {% if taxonomyterm in app.config.get('taxonomy')['communities']['options']|keys %}
                {% set taxonomyname = 'communities' %}
            {% elseif taxonomyterm in app.config.get('taxonomy')['communities']['options'] %}
                {% set taxonomyname = 'communities' %}
            {% elseif taxonomyterm in app.config.get('taxonomy')['markets']['options']|keys %}
                {% set taxonomyname = 'markets' %}
            {% elseif taxonomyterm in app.config.get('taxonomy')['markets']['options'] %}
                {% set taxonomyname = 'markets' %}
            {% elseif taxonomyterm in app.config.get('taxonomy')['categories']['options']|keys %}
                {% set taxonomyname = 'categories' %}
            {% elseif taxonomyterm in app.config.get('taxonomy')['categories']['options'] %}
                {% set taxonomyname = 'categories' %}
            {% endif %}
        {% endif %}

        {# set default amount #}
        {% set override_amount = module.get('override_amount')|default(3) %}
        {% set allow_pager = false %}

        {% setcontent selected_records = sources where {
            (filtername): (filtervalue),
            (taxonomyname): (taxonomyterm)
        } orderby '-datepublish' limit override_amount %}

        {# actual include of highlightbar #}
        {% include [templatefile, 'modules/_default.twig'] with {
            'module': module,
            'record': record|default(),
            'title': title,
            'body': body,
            'records': selected_records,
            'allow_pager': allow_pager
        } %}
    {% endif %}
</section>
