<!-- Header bar -->
{# the values in the 'app.config' object are taken directly from the file app/config/config.yml #}
<section class="contentheader">
    <nav class="quicklinks">
        <ul>
            <li class="in-page-blank-link"><a>&nbsp;</a></li>
            {# at least one empty link is needed for the layout at the moment #}
        </ul>
    </nav>


    {# FIXME: Show this part on landing and homepage, not the rest #}
    {% if app.request.get('_route') == 'homepage'
       or ( record is defined and record.pagetype is not empty and record.pagetype == 'landing' )
    %}
        {% set module = {} %}
        {% set template = module.get('templates')|default('highlightbar') %}
        {% set templatefile = 'modules/_' ~ template ~ '.twig' %}
        {% set title = module.get('title')|default('Latest posts') %}
        {% set subtitle = '' %}
        {% set body = '' %}
        {% set sources = module.get('sources')|default('posts') %}
        {% if sources == 'posts' and 'Publications' in title %}
            {% set filtername = 'posttype' %}
            {% set filtervalue = module.get('filter_posts')|default('publication') %}
        {% else %}
            {% set filtername = 1 %}
            {% set filtervalue = 1 %}
        {% endif %}
        {% set override_amount = module.get('override_amount')|default(3) %}
        {% set allow_pager = false %}
        {% setcontent selected_records = sources where {(filtername): (filtervalue)} orderby '-datepublish' limit override_amount %}
        {% include [templatefile, 'modules/_default.twig'] with {
            'module': module,
            'title': title,
            'body': body,
            'records': selected_records,
            'allow_pager': allow_pager
        } %}
    {% endif %}

</section>
