{% setcontent cookiemessage = 'resource/cookie-message' %}
{% if cookiemessage is not empty %}
<div id="cookiebar" class="cookiebar topmessage">
    <div class="inner group">
        {{ cookiemessage.body }}
        <button class="ok">OK</button>
    </div>

    <button class="simple close" aria-label="Close cookiebar notice">
        <svg class="icon icon-delete">
            <use xlink:href="#icon-close"></use>
        </svg>
    </button>

</div>
{% endif %}
