{% if record.shoulddatemodified|default(true) %}
     <p class="meta outline">
          <object aria-label="Modified date icon" data="{{ paths.theme }}/images/icons/pen-solid.svg" type="image/svg+xml"></object>
          Updated on {{ record.datechanged|localedatetime("%A %B %e, %Y") }}
     </p>
{% endif %}
