{# DOWNLOAD MODULE #}

<section class="download-module">
    <ul>
        <li> <a href="#">
            <svg class="icon icon-document">
                <use xlink:href="#icon-document"></use>
            </svg>
            This is a download
            <div class="meta">
                <span class="filesize">2.5 MB</span>
                <span class="date-added">Added 12/25/16</span>
            </div>
        </a>
    </ul>
</section>