{# EVENT MAP #}

<figure class="event-figure">
    <div class="map">

        {# HERE BE MAP #}
        <img width="640" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?center=riga&zoom=13&scale=1&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7Criga" alt="Google Map of riga">
        {# <img src="https://unsplash.it/1020/560?image=967" alt="name" /> #}

        <div class="img-container">
            <img class="event-img" src="https://unsplash.it/700/510" alt="name" />

            <div class="info-block">
                <span class="event-days">19 — 21</span>
                <span class="event-month">october 2017<br /></span>
                <span class="event-time">
                    <svg class="icon icon-clock">
                        <use xlink:href="#icon-clock"></use>
                    </svg>
                    09:00 — 18:00
                </span>
                <span class="event-location">
                    <svg class="icon icon-location">
                        <use xlink:href="#icon-location"></use>
                    </svg>
                    Riga, Latvia
                </span>
            </div>
        </div>

    </div>

    <figcaption>
        The National Library of Latvia. Image: Wikimedia Commons, CC BY SA.
    </figcaption>
</figure>