{# set the contenttype if there is one #}
{% if records is defined and records|first.contenttype is defined %}
    {% set contenttype = records|first.contenttype %}
{% endif %}

{% if contenttype is defined %}
    {# get main categorisation from contenttype #}
    {% if contenttype.slug == 'persons' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/network_participation/' %}
        {% set categories = contenttype.fields.network_participation.values %}
    {% elseif contenttype.slug == 'projects' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/projecttype/' %}
        {% set categories = contenttype.fields.projecttype.values %}
    {% elseif contenttype.slug == 'posts' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/posttype/' %}
        {% set categories = contenttype.fields.posttype.values %}
    {% elseif contenttype.slug == 'data' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/datatype/' %}
        {% set categories = contenttype.fields.datatype.values %}
    {% else %}
        {% set categories = {} %}
    {% endif %}
{% else %}
    {% set categories = {} %}
{% endif %}

<div class="filter-listing">
    {# {% if categories is not empty %}
        <a class="reset" href="#">Reset filter</a>
        <ul>
            {% for item, catname in categories %}
                <li><a href="{{ contenttypepath ~ item|slugify }}">{{ catname }}</a></li>
            {% endfor %}

            <li><a href="">Filter by</a></li>
            <li><a href="">by contenttype</a></li>
        </ul>
    {% endif %} #}

    <h2 class="sr-only">Filter this list</h2>
    <div class="current-filters">
        <a class="reset" href="#">Reset filter</a>

        <a href="">Filter by</a></li>
        <a href="">Services: Campaigns</a></li>
    </div>

    <div class="filter-container group">
        <div class="arrow-up"></div>

        <ul class="filter-chaptertitles">
            <li><a>Markets<svg class="icon icon-next">
                    <use xlink:href="#icon-next"></use>
                </svg></a>
            </li>
            <li><a>Services<svg class="icon icon-next">
                    <use xlink:href="#icon-next"></use>
                </svg></a>
            </li>
            <li class="current"><a>Community<svg class="icon icon-next">
                    <use xlink:href="#icon-next"></use>
                </svg></a>
            </li>
            <li><a>Type<svg class="icon icon-next">
                    <use xlink:href="#icon-next"></use>
                </svg></a>
            </li>
        </ul>

        <div class="filter-chapter filters-markets current" id="filters-markets">
            <h3>Community</h3>
            <ul class="filterlist" >
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li class="current"><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
            </ul>
        </div>

        <div class="filter-chapter filters-services" id="filters-services">
            <h3>Services</h3>
            <ul class="filterlist">
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
            </ul>
        </div>

        <div class="filter-chapter filters-community" id="filters-community">
            <h3>Community</h3>
            <ul class="filterlist" >
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
            </ul>
        </div>

        <div class="filter-chapter filters-type" id="filters-type">
            <h3>Type</h3>
            <ul class="filterlist">
                <li><a>Optie1 (30)</a></li>
                <li><a>Optie2 (44)</a></li>
                <li><a>Optie3 (6)</a></li>
                <li><a>Optie4 (72)</a></li>
            </ul>
        </div>

    </div>

    {# <form method="GET" class="filterform" id="filterbar">
        <div>
            <h3></h3>
            <input type='radio' name="filterby" value='value1'>
                <label for="#filterbyvalue1" >Value 1</label>
            <input type='radio' name="filterby" value='value2'>
                <label for="#filterbyvalue2" >Value 2</label>
        </fieldset>

        <fieldset>
            <legend>Hoofdstuk B</legend>
            <input type='radio' name="filterby" value='value3'>
                <label for="#filterbyvalue3" >Value 3</label>
            <input type='radio' name="filterby" value='value4'>
                <label for="#filterbyvalue4" >Value 4</label>
        </fieldset>

        <button type="submit">Filter</button>
    </form> #}


</div>
