<label for="filter-content-select">Filter by</label>
<select id="filter-content-select" name="filterby" class="button outline button-filter">
    {% for ct in filterContentTypes %}
        <option value="{{ ct }}" {% if filterby == ct %}selected="selected"{% endif %}>{{ ct|capitalize }}</option>
    {% endfor %}
</select>
<button type="submit">Filter</button>