{# set the contenttype if there is one #}
{% if records is defined and records|first.contenttype is defined %}
    {% set contenttype = records|first.contenttype %}
{% endif %}

{% if contenttype is defined %}
    {# get main categorisation from contenttype #}
    {% if contenttype.slug == 'persons' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/network_participation/' %}
        {% set categories = contenttype.fields.network_participation.values %}
    {% elseif contenttype.slug == 'projects' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/projecttype/' %}
        {% set categories = contenttype.fields.projecttype.values %}
    {% elseif contenttype.slug == 'posts' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/posttype/' %}
        {% set categories = contenttype.fields.posttype.values %}
    {% elseif contenttype.slug == 'data' %}
        {% set contenttypepath = '/' ~ contenttype.slug ~ '/datatype/' %}
        {% set categories = contenttype.fields.datatype.values %}
    {% else %}
        {% set categories = {} %}
    {% endif %}
{% else %}
    {% set categories = {} %}
{% endif %}

<div class="filter-listing">
    {# {% if categories is not empty %}
        <a class="reset" href="#">Reset filter</a>
        <ul>
            {% for item, catname in categories %}
                <li><a href="{{ contenttypepath ~ item|slugify }}">{{ catname }}</a></li>
            {% endfor %}

            <li><a href="">Filter by</a></li>
            <li><a href="">by contenttype</a></li>
        </ul>
    {% endif %} #}

    <a class="reset" href="#">Reset filter</a>

    <a href="">Filter by</a></li>
    <a href="">Services: Campaigns</a></li>

    <form method="GET" class="filterform" id="filterbar">
        <fieldset>
            <legend>Hoofdstuk A</legend>
            <input type='radio' name="filterby" value='value1'>
                <label for="#filterbyvalue1" >Value 1</label>
            <input type='radio' name="filterby" value='value2'>
                <label for="#filterbyvalue2" >Value 2</label>
        </fieldset>

        <fieldset>
            <legend>Hoofdstuk B</legend>
            <input type='radio' name="filterby" value='value3'>
                <label for="#filterbyvalue3" >Value 3</label>
            <input type='radio' name="filterby" value='value4'>
                <label for="#filterbyvalue4" >Value 4</label>
        </fieldset>

        <button type="submit">Filter</button>
    </form>


</div>
