{# HEADER OF ARTICLE #}

<div class="header-group">
    <div class="author-small group">
        <img class="round" src="https://unsplash.it/72/72" alt="name"/>
        <p class="name">Victor-Jan Vos</p>
        <p class="function">Head of programmes, policy & research</p>
    </div>

    <h1>{{ record.title }}</h1>

    <h2 class="subtitle">'Show us what you've got!'</h2>

    <div class="introduction">
        {{ record.introduction }}
    </div>
</div>