<header id="header">

    <div class="headercontainer">
        <button class="toggle menu-toggle" aria-label="Toggle menu">
            <svg class="icon icon-menu">
                <use xlink:href="#icon-menu"></use>
            </svg>
            <svg class="icon icon-delete">
                <use xlink:href="#icon-delete"></use>
            </svg>
        </button>

        <div class="mainlogo">
            <a class="home-link" href="/">
                <img src="{{ paths.theme }}images/europeana_pro_logo.svg" alt="Europeana pro" />
            </a>
        </div>

        {{ menu('main', 'partials/_menu_toplayer.twig') }}

        <button class="toggle search-toggle" aria-label="Toggle search">
            <svg class="icon icon-search">
                <use xlink:href="#icon-search"></use>
            </svg>
        </button>

        {% block navigation %}
            {{ include('partials/_navigation.twig') }}
        {% endblock navigation %}

    </div>

    {% include 'partials/_searchform.twig' with {id : 'headersearch'} %}

</header>

