{# HEADER OF ARTICLE #}

<div class="header-group">

    {% if record.contact_record %}

    {% setcontent author = 'persons' where { id : record.contact_record } returnsingle %}
    {% include 'views/_mini_persons.twig' with { item: author } %}

    {% endif %}

    <h1>{{ record.title }}</h1>

    <div class="introduction">
        {{ record.intro }}
    </div>

    {% if record.contenttype.slug in ['events'] and record.geolocation is not empty %}
        <address>
            {{record.geolocation.formatted_address | replace({',': '<br/>'})|raw }}
        </address>
    {% endif %}

</div>