<header id="header">

    <button class="toggle menu-toggle">
        <svg class="icon icon-menu">
            <use xlink:href="#icon-menu"></use>
        </svg>
        <svg class="icon icon-delete">
            <use xlink:href="#icon-delete"></use>
        </svg>
    </button>

    <button class="toggle search-toggle">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>



    <div class="mainlogo">
        {% if app.request.get('_route') == 'homepage' %}
        <h1 class="">
            <img src="{{ paths.theme }}images/europeana_pro_logo.svg" alt="Europeana" />
        </h1>
        {% else %}

        <a class="home-link" href="/">
            <img src="{{ paths.theme }}images/europeana_pro_logo.svg" alt="Europeana" />
        </a>

        {% endif %}

        {% if app.config.get('general/environment') != 'prod' %}
        <div class="version-flag">
            {{ app.config.get('general/environment')|default('beta') }}
        </div>
        {% endif %}
    </div>

    <nav>
        <ul class="toplayer-menu">
            <li><a class="active" href=""><span>Cultural institutions</span></a></li>
            <li><a href=""><span>Network associations</span></a></li>
            <li><a href=""><span>Aggregators forum</span></a></li>
        </ul>
    </nav>

    {% include 'partials/_searchform.twig' %}

</header>
