<section class="info-list location-list">
    <h2>Event venue and description</h2>
    <ul>
        <li>
            <div class="img-container">
                <img class="info-img" src="https://unsplash.it/172/172" alt="name" />
                <div class="info-block">
                    <span class="event-days">19 — 21</span>
                    <span class="event-month">october 2017<br /></span>
                    <span class="event-time">
                        <svg class="icon icon-clock">
                            <use xlink:href="#icon-clock"></use>
                        </svg>
                        09:00 — 18:00
                    </span>
                </div>
            </div>
            <div class="txt-container">
                <h3>Europeana network association AGM 2017</h3>
                <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                <div class="location">
                    <svg class="icon icon-location">
                        <use xlink:href="#icon-location"></use>
                    </svg>
                    <span class="sr-only">Location:</span> Den Haag
                </div>
                <a class="primary-link" href="#">Learn everything about the event here</a>
                <a class="button">
                    Register for your place
                </a>
            </div>
        </li>
    </ul>
</section>