<nav id="mainmenu" class="main-menu {% if currentpageinmenu == false %}hidden-menu{% endif %}" >
    <div class="menu-container">
        <div class="show-entries-hover hidden">
            <span class="hover-arrow"></span>
        </div>

        {{ menu('main', 'partials/_menu.twig') }}

        {{ menu('secondary', 'partials/_menu_secondary.twig') }}
    </div>
</nav>

