{# HEADER OF ARTICLE #}

<div class="header-group">

    {% if record.contact_name is defined and record.contact_name is not empty %}
        <div class="author-small-container">
            {% include 'views/_mini_externalcontact.twig' %}
        </div>
    {% elseif record.author is defined and record.author is not empty %}
        {% set contacts = record.author %}
        {% if contacts is not iterable %}
            {# fix iterable ids if the content is json in a textfield #}
            {% set contacts = record.author|json_decode() %}
        {% endif %}
        {% if contacts is iterable %}
            <div class="author-small-container">
            {% for contact_id in contacts %}
                {% setcontent author = 'persons' where { id : contact_id } returnsingle %}
                {% include 'views/_mini_persons.twig' with { item: author } %}
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <h1>{{ record.title }}</h1>

    <div class="introduction">
        {{ record.intro }}
    </div>

    {% if record.contenttype.slug in ['events'] and record.geolocation is not empty %}
        <address class="h-adr">
            {{record.geolocation.formatted_address | replace({',': '<br/>'})|raw }}
        </address>
    {% endif %}

</div>

