<form method="get" action="{{ path('search') }}" class="searchform" enctype="text/plain">
    <input type="search" value="{% if q is defined %}{{ q|escape }}{% endif %}" placeholder="Search for ..." name="q"><button type="submit" class="button">
        <svg class="icon icon-calendar">
            <use xlink:href="#icon-search"></use>
        </svg>
        <span class="sr-only">search</span>
    </button>
</form>
