<div class="snippet-record-title record-{{ record.contenttype.slug  }}">
    <a href="{{ record.link }}">{{ record.title }}</a>
    {% include 'partials/_sub_sourcesite.twig' with {record: record} %}
</div>

