
{# Fallback for filtering is a neat HTML form #}
<form method="GET" action="/search" class="sortform" id="sortbar">
<legend class="sr-only">Sorting options</legend>
    <input type='hidden' name="q" id="q" value="{{ search }}">

    <input type='radio' name="sort" value="reldesc" id="sortreldesc" {% if (app.request.get('sort')=='reldesc') or (app.request.get('sort') is empty) %}checked{% endif %}>
    <label for="sortreldesc" {% if (app.request.get('sort')=='reldesc') or (app.request.get('sort') is empty) %}class="active"{% endif %}>
        <svg class="icon icon-sort_relevance">
            <use xlink:href="#icon-sort_relevance"></use>
        </svg>
        <span>Sort by relevance</span>
    </label>

{% if app.request.get('sort')=='datedesc' %}
    {# icon: sort date newest - actie: date oldest #}

    <input type='radio' name="sort" value="dateasc" id="sortdatedesc">
    <label for="sortdatedesc" class="active">
        <svg class="icon icon-sort_date_newest" title="Sort by date, oldest first">
            <use xlink:href="#icon-sort_date_newest"></use>
        </svg>
        <span>Sort by date, oldest first</span>
    </label>

{% elseif app.request.get('sort')=='dateasc' %}
    {# icon: sort date oldest - actie: date newest #}

   <input type='radio' name="sort" value="datedesc" id="sortdatedesc">
    <label for="sortdatedesc" class="active">
        <svg class="icon icon-sort_date_oldest">
            <use xlink:href="#icon-sort_date_oldest"></use>
        </svg>
        <span>Sort by date, most recent first</span>
    </label>

{% else %}
    {# icon: sort date newest - actie: date newest #}

    <input type='radio' name="sort" value="datedesc" id="sortdatedesc" {% if app.request.get('sort')=='datedesc' %}checked{% endif %}>
    <label for="sortdatedesc" {% if app.request.get('sort')=='datedesc' %}class="active"{% endif %}>
        <svg class="icon icon-sort_date_newest">
            <use xlink:href="#icon-sort_date_newest"></use>
        </svg>
        <span>Sort by date, most recent first</span>
    </label>
{% endif %}

    {# Bind the values of these fields to filter options. See _filter-listing.twig and app.js   #}
    <input type="hidden" id="bind-subtype" />
</form>
