{% if item is not defined %}
    {% set item = record %}
{% endif %}

{% if item.taxonomy.categories is defined %}
    {% for cat in item.taxonomy.categories %}
    <a class="label" href="/categories/{{ cat }}">{{ cat }}</a>
    {% endfor %}
{% endif %}

{% if item.taxonomy.tags is defined %}
    {% for tag in item.taxonomy.tags %}
    <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a>
    {% endfor %}
{% endif %}
