{# Section breakers - Call to action FULL #}
<div class="calltoaction">
    <div class="colored-image" style="background-image: url({{ image(record.image, 1600, 350)|default('https://unsplash.it/1600/350') }})"></div>
    <div class="header-group">
        <h3 class="widget">{{ record.title }}</h3>
        <form>
            <label for="email-signup" class="sr-only">E-mail address</label>
            {% spaceless %}
                <input type="text" name="emailaddress" id="email-signup" placeholder="e-mailaddress">
                <input class="button" value="Submit" type="submit">
            {% endspaceless %}
        </form>
    </div>
</div>
