<form class="snippet-calltoaction-form record-{{ record.contenttype.slug  }}">
    <input name="something" default="email@example.com" />
    <button class="calltoaction button" href="{{ record.link }}">{{ record.title }}</button>
</form>
