<div class="snippet-titles record-{{ record.contenttype.slug  }}">
    <a href="{{ record.link }}">{{ record.title }}</a>
    {% include 'partials/_record_sourcesite.twig' with {record: record} %}
</div>
