fieldset.bolt-field-repeater .viewblocks {
    border-left-width: 6px;
    border-right-width: 6px;
    margin: 5px 0 15px 0;
}
fieldset.bolt-field-repeater .viewblocks .panel-body {
    padding: 4px 0 15px 0;
}
fieldset.bolt-field-repeater .viewblocks .repeater-field {
    margin-top: 10px;
}
.viewblocks .control-label,
.viewblocks .form-control {
    margin-bottom: 0.2em;
}
div.highlightblock {
    border: 1px solid #ddd;
    border-left-width: 6px;
    border-right-width: 6px;
    margin: 5px 0 15px 0;
    padding: 0 10px;
}
div.highlightblock div[data-bolt-fieldset]:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
