{% extends 'partials/_master.twig' %}

{% block bodyclass 'contentpage' %}

{% block main %}

    <section>
        <div class="inner-wrap">

            <article class="column main-column">

                <div class="side-info">
                    <p class="meta">
                        <span class="readtime">7 minutes to read</span>
                        {# OPTIE <span class="location">Den Haag, The Netherlands</span> #}
                        <span class="date">Posted at 11 oktober 2016</span>
                    </p>
                    <div class="label">Platform</div>
                    <a class="tag" href="#">Management</a>
                    <a class="tag" href="#">AGM</a>
                    <a class="tag" href="#">Network</a>

                    {# OPTIE
                     <span class="svg-link" href="#">
                         <svg class="icon icon-users">
                            <use xlink:href="#icon-users"></use>
                        </svg>
                        <a class="team">Collections Team</a>
                    </span> #}
                </div>

                <div class="header-group">
                    <div class="author-small group">
                        <img class="round" src="https://unsplash.it/72/72" alt="name"/>
                        <p class="name">Victor-Jan Vos</p>
                        <p class="function">Head of programmes, policy & research</p>
                    </div>

                    <h1>This is the title of an article or blogpost</h1>

                    <div class="introduction">
                        <p>Merete Sanderhoff introduces the new Europeana Art History Collections advisory board. </p>
                    </div>
                </div>

                <figure>
                    <img class="main-img" src="https://unsplash.it/1240/600" alt="name" />
                    <figcaption>A christening by Michael Ancher, 1883-1888, Ribe Kunstmuseum, CC BY 4.0 </figcaption>
                </figure>

                <div class="body"> {# can be multiple bodies #}
                    <h2>Behold! A header 2!</h2>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                    <h3>Tis is a header 3</h3>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                    <h4>And this a header 4</h4>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                </div>

                <section class="info-list speaker-list">
                    <h2>Speakers for this event</h2>
                    <ul>
                        <li class="group">
                            <div class="img-container">
                                <img class="info-img" src="https://unsplash.it/172/172" alt="name" />
                                <h3>Timothy Hill</h3>

                                <div class="socials">
                                    <a href="#" class="tw">
                                        <svg class="icon icon-twitter">
                                            <use xlink:href="#icon-twitter"></use>
                                        </svg>
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                    <a href="#" class="li">
                                        <svg class="icon icon-linkedin">
                                            <use xlink:href="#icon-linkedin"></use>
                                        </svg>
                                        <span class="sr-only">LinkedIn</span>
                                    </a>
                                </div>

                            </div>
                            <div class="txt-container">
                                <p class="function">Search engineer</p>
                                <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use arning, enjoyment, sharing, and to build on in new creative ways.</p>
                                <div class="contact">
                                    <a href="#" class="tw">
                                        <svg class="icon icon-twitter">
                                            <use xlink:href="#icon-twitter"></use>
                                        </svg>
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                    <a href="#" class="li">
                                        <svg class="icon icon-linkedin">
                                            <use xlink:href="#icon-linkedin"></use>
                                        </svg>
                                        <span class="sr-only">LinkedIn</span>
                                    </a>
                                    <a href="mailto:#" class="email">Victor-jan.vos@europeana.eu</a>
                                    <a href="#" class="phone">+31 70 32 45 678</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>

                <section class="info-list location-list">
                    <h2>Event venue and description</h2>
                    <ul>
                        <li>
                            <div class="img-container">
                                <img class="info-img" src="https://unsplash.it/172/172" alt="name" />
                                <div class="event-date">
                                    <span class="event-days">19 — 21</span>
                                    <span class="event-month">october 2017<br /></span>
                                    <span class="event-time">
                                        <svg class="icon icon-clock">
                                            <use xlink:href="#icon-clock"></use>
                                        </svg>
                                        09:00 — 18:00
                                    </span>
                                </div>
                            </div>
                            <div class="txt-container">
                                <h3>Europeana network association AGM 2017</h3>
                                <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                                <div class="location">
                                    <svg class="icon icon-location">
                                        <use xlink:href="#icon-location"></use>
                                    </svg>
                                    <span class="sr-only">Location:</span> Den Haag
                                </div>
                                <a class="primary-link" href="#">Learn everything about the event here</a>
                                <a class="button">
                                    Register for your place
                                </a>
                            </div>
                        </li>
                    </ul>
                </section>

            </article>

            <div class="author-big column">
                <div class="img-container">
                    <img class="round" src="https://unsplash.it/144/144" alt="name"/>
                </div>
                <div class="txt-container">
                    <p class="name"><span>Created by</span> Victor-Jan Vos</p>
                    <p class="function">Head of programmes, policy & research</p>
                    <p>At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing.</p>
                    <div class="contact">
                        <a href="#" class="tw">
                            <svg class="icon icon-twitter">
                                <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <span class="sr-only">Twitter</span>
                        </a>
                        <a href="#" class="tw">
                            <svg class="icon icon-linkedin">
                                <use xlink:href="#icon-linkedin"></use>
                            </svg>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                        <a href="#" class="email">Victor-jan.vos@europeana.eu</a>
                        <a href="#" class="phone">+31 70 32 45 678</a>
                    </div>
                </div>
            </div>


            {# oud ----

            <aside>
            <div class="inner-wrap">
                <h2>Related content</h2>

                <div class="teaser-container">
                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens bit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>
                </div>
            </div>
        </aside>

        einde oud -- #}




        </div>
    </section>

    <aside>
            <div class="inner-wrap">
                <h2>Related content</h2>

                <div class="teaser-container">
                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens bit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>
                </div>
            </div>
        </aside>





{% endblock main %}
