{% extends 'partials/_master.twig' %}

{% block bodyclass 'listingpage' %}

{% block main %}

    <section>
        <div class="inner-wrap">

            <div class="column">

                <div class="filter-listing">
                    <p>Categories:</p>
                    <ul>
                        <li><a>Networking (123)</a></li>
                        <li><a>Partnerships (123)</a></li>
                        <li><a>Re-Use (123)</a></li>
                        <li><a>Research (123)</a></li>
                        <li><a>Education (123)</a></li>
                        {# <li><a>Case Studies (123)</a></li> #}
                    </ul>
                </div>

                <h1>1337 search results for "cute kittens"</h1>



                <ul class="search-results">

                    {# EVENT TEASER #}
                    <li class="group">
                        <article class="teaser teaser-event group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                    <span class="event-days">19 — 21</span>
                                    <span class="event-month">october 2017<br /></span>
                                    <span class="event-time">
                                        <svg class="icon icon-clock">
                                            <use xlink:href="#icon-clock"></use>
                                        </svg>
                                        09:00 — 18:00
                                    </span>
                                    <span class="event-location">
                                        <svg class="icon icon-location">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                        Riga, Latvia
                                    </span>
                                </div>
                            </div>

                            <h2>European Network Association AGM 2016</h2>

                            <div class="label">Platform</div>
                            <a class="tag" href="#">Management</a>
                            <a class="tag" href="#">AGM</a>
                            <a class="tag" href="#">Network</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">
                                <a class="add-calendar" href="#">
                                    <svg class="icon icon-calendar">
                                        <use xlink:href="#icon-calendar"></use>
                                    </svg>
                                    Add to calendar
                                </a>

                                <a class="button-link">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>

                    <li>
                        <article class="teaser teaser-page group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                    <span class="info-type">Page</span>
                                    <span class="info-date">Created: 5 december 2015</span>
                                    <span class="info-author">
                                        By: <a href="#">Matthias McGuiness</a>
                                    </span>
                                </div>
                            </div>

                            <h2>European Network Association AGM 2016</h2>

                            <div class="label">Networking</div>
                            <a class="tag" href="#">Policies</a>
                            <a class="tag" href="#">European Parliament</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">
                                <span class="read-time">10 minutes to read</span>
                                <a class="readmore">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>

                    <li>
                        <article class="teaser teaser-blog group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                    <span class="info-type">Blog</span>
                                    <span class="info-date">Created: 19 december 2017</span>
                                    <span class="info-author">
                                        By: <a href="#">Nicole Nomansland</a>
                                    </span>
                                </div>

                            </div>

                            <h2>European Network Association AGM 2016</h2>

                            <div class="label">Platform</div>
                            <a class="tag" href="#">Management</a>
                            <a class="tag" href="#">AGM</a>
                            <a class="tag" href="#">Network</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">
                                <span class="read-time">10 minutes to read</span>
                                <a class="button-link">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>

                    <li>
                        <article class="teaser teaser-dataset group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                    <span class="info-type">Dataset</span>
                                    <span class="info-date">Updated: 19 december 2017</span>
                                    <span class="info-author">
                                        By: <a href="#">University of Edinburgh</a>
                                    </span>
                                </div>

                            </div>

                            <h2>European Network Association AGM 2016</h2>

                            <div class="label">Platform</div>
                            <a class="tag" href="#">Management</a>
                            <a class="tag" href="#">AGM</a>
                            <a class="tag" href="#">Network</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">
                               <span class="read-time">10 minutes to read</span>
                                <a class="button-link">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>

                    <li>
                        <article class="teaser group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                   <span class="info-date">Updated: 19 december 2017</span>
                                    <span class="info-author">
                                        By: <a href="#">University of Edinburgh</a>
                                    </span>
                                </div>

                            </div>

                            <h2>European Network Association AGM 2016</h2>

                            <div class="label">Platform</div>
                            <a class="tag" href="#">Management</a>
                            <a class="tag" href="#">AGM</a>
                            <a class="tag" href="#">Network</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">

                                <span class="read-time">10 minutes to read</span>
                                <a class="readmore">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>

                    <li>
                        <article class="teaser teaser-download group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                   <span class="info-date">Created: 19 december 2017</span>
                                    <span class="info-author">
                                        By: <a href="#">Stevie Nicks</a>
                                    </span>
                                    <a class="info-action">
                                        <svg class="icon icon-calendar">
                                            <use xlink:href="#icon-calendar"></use>
                                        </svg>Download
                                    </a>
                                </div>

                            </div>

                            <h2>Important whitepaper downloadable.pdf</h2>

                            <div class="label">Platform</div>
                            <a class="tag" href="#">Management</a>
                            <a class="tag" href="#">AGM</a>
                            <a class="tag" href="#">Network</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">

                               <span class="read-time">10 minutes to read</span>
                               <a class="readmore">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>


                </ul> {# /.search-results #}

                {# Pagination #}
                <ol class="pagination">
                    <li class='current'><a href="?page=1">1</a></li>
                    <li ><a href="?page=2">2</a></li>
                    <li ><a href="?page=3">3</a></li>
                    <li ><a href="?page=4">4</a></li>
                    <li ><a href="?page=5">5</a></li>

                    <li class="disabled"><a>...</a></li>

                    <li><a href="?page=80">80</a></li>
                    <li><a href="?page=91">→</a></li>

                  </ol>

            </div> {# /column #}

        </div>
    </section>



{% endblock main %}
