{% extends 'partials/_master.twig' %}

{% block bodyclass 'contentpage' %}

{% block main %}

    <section>
        <div class="inner-wrap">

            <article class="column main-column">


                {% include 'partials/_side-info.twig' %}

                {% include 'partials/_header-group.twig' %}


                <figure>
                    <img class="main-img" src="https://unsplash.it/1240/600" alt="name" />
                    <figcaption>A christening by Michael Ancher, 1883-1888, Ribe Kunstmuseum, CC BY 4.0 </figcaption>
                </figure>


                {% include 'partials/_event-figure.twig' %}


                {% include 'partials/_collapsed-content.twig'%}


                <div class="body"> {# can be multiple bodies #}
                    {# <h2>Behold! A header 2!</h2> #}
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                </div>

                {# BODY #}

                <div class="body"> {# can be multiple bodies #}
                    {# <h2>Behold! A header 2!</h2> #}
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                    <h3>Tis is a header 3</h3>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                    <h4>And this a header 4</h4>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                </div>

                {% include 'partials/_download-content.twig'%}

                <section class="info-list-section">
                    <h2>Speakers for this event</h2>
                    {% setcontent speakers = 'persons/latest/4'%}
                    {% include 'partials/_list-speaker-list.twig' with { items : speakers } %}
                </section>



            </article>

        </div>
    </section>

    <aside>
        <div class="inner-wrap">


            {% include 'partials/_author.twig' %}

            {# RELATED CONTENT #}

            <section class="related-content">
                <h2>Related content</h2>

                    <div class="teaser-container">
                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens bit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>
                    </div>
                </div>


            </section>
        </aside>





{% endblock main %}
