{% extends 'partials/_master.twig' %}

{% block bodyclass 'contentpage' %}

{% block main %}
    {# {{dump(record)}} #}
    <section>
        <div class="inner-wrap">

            <article class="column main-column">

                {# {% include 'partials/_side-info.twig' %} #}
                <div class="side-info">
                    <p class="meta">
                        <span class="readtime">7 minutes to read</span>
                        {# OPTIE <span class="location">Den Haag, The Netherlands</span> #}
                        <span class="date">Posted at 11 oktober 2016</span>
                    </p>
                    <div class="label">Platform</div>
                    <a class="tag" href="#">Management</a>
                    <a class="tag" href="#">AGM</a>
                    <a class="tag" href="#">Network</a>

                    {# OPTIE
                     <span class="svg-link" href="#">
                         <svg class="icon icon-users">
                            <use xlink:href="#icon-users"></use>
                        </svg>
                        <a class="team">Collections Team</a>
                    </span> #}
                </div>
                {# einde partial #}

                {# {% include 'partials/_header-group.twig' %} #}
                <div class="header-group">
                     <div class="author-small-container">
                            <div class="author-small group">
                            <img class="round" src="https://unsplash.it/72/72" alt="name"/>
                            <p class="name">Victor-Jan Vos</p>
                            <p class="function">Head of programmes, policy & research</p>
                        </div>
                    </div>

                    <h1>This is the title of an article or blogpost</h1>

                    <div class="introduction">
                        <p>Merete Sanderhoff introduces the new Europeana Art History Collections advisory board. </p>
                    </div>
                </div>
                {# einde partial #}



                <figure>
                    <img class="main-img" src="https://unsplash.it/1240/600" alt="name" />
                    <figcaption>A christening by Michael Ancher, 1883-1888, Ribe Kunstmuseum, CC BY 4.0 </figcaption>
                </figure>


                {% include 'partials/_event-figure.twig' %}



                <div class="body"> {# can be multiple bodies #}
                    {# <h2>Behold! A header 2!</h2> #}
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                </div>

                {# BODY #}

                <div class="body"> {# can be multiple bodies #}
                    {# <h2>Behold! A header 2!</h2> #}
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                    <h3>Tis is a header 3</h3>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>
                    <h4>And this a header 4</h4>
                    <p>Art lovers have a new place to enjoy and engage with Europe’s rich artistic heritage. At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing, and to build on in new creative ways.</p>

                    <p class="info">
                        This is info
                    </p>

                    <p class="notice">
                        This is notice ..
                    </p>

                    <p class="warning">
                        This is warning !
                    </p>

                    <p class="error">
                        This is error !!
                    </p>
                </div>

                {% include 'partials/_download-content.twig'%}


            </article>

        </div>
    </section>

    {% setcontent speakers = 'persons/latest/4'%}
    {% include 'partials/_list-speaker-list.twig' with { title : 'Speakers for this event', items : speakers , speaker : true } %}


    {% include 'partials/_list-speaker-list-twocol.twig' with { title : 'Speakers for this event on two cols', items : speakers , speaker : true } %}



    <aside>
        <div class="inner-wrap">


            {# AUTHOR #} {# is geworden -> _TEASER_author.twig #}

            <section class="author-big column">
                <div class="img-container">
                    <img class="round" src="https://unsplash.it/144/144" alt="name"/>
                </div>
                <div class="txt-container">
                    <p class="name"><span>Created by</span> Victor-Jan Vos</p>
                    <p class="function">Head of programmes, policy & research</p>
                    <p>At Europeana Art History Collections, you can discover artworks and stories of art from all over Europe, and use them for learning, enjoyment, sharing.</p>
                    <div class="contact">
                        <a href="#" class="tw">
                            <svg class="icon icon-twitter">
                                <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <span class="sr-only">Twitter</span>
                        </a>
                        <a href="#" class="tw">
                            <svg class="icon icon-linkedin">
                                <use xlink:href="#icon-linkedin"></use>
                            </svg>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                        <a href="#" class="email">Victor-jan.vos@europeana.eu</a>
                        <a href="#" class="phone">+31 70 32 45 678</a>
                    </div>
                </div>
            </section>


            {# RELATED CONTENT #}

            <section class="related-content">
                <h2>Related content</h2>

                    <div class="teaser-container">
                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens semper vacabit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>

                    <article class="column third teaser-threecol">
                        <a href="#">
                            <img src="https://unsplash.it/768/435" alt="xx"/>
                        </a>
                        <h3><a href="#">Dit is een titel</a></h3>
                        <p>Huius ego nunc auctoritatem sequens idem faciam. Itaque his sapiens bit. Si de re disceptari oportet, nulla mihi tecum.</p>

                    </article>
                    </div>
                </div>


            </section>
        </aside>





{% endblock main %}
